{% extends "layout_base.html" %}

{% load i18n %}
{% load l10n %}

{% block title %}{% trans 'project' %}: {{ project.name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="page-title">
        <div class="title_left">
            <h3><strong>{% trans 'project' %}: </strong> {{ project.name }}</h3>
        </div>

        <div class="clearfix"></div><br>
{% if project_manager != null %}
        <div class="">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">{% trans 'projectManager' %}</div>

                    <div class="clearfix"></div>

                    <div class="x_content">
                        <div class="profile_details text-center">
                            <div class="well profile_view">
                                <div class="col-sm-12">
                                    <h4 class="brief"><i>{% trans 'projectManager' %}</i></h4>
                                    <div class="left col-xs-7">
                                        <h2>{{ project_manager.user.get_username }}</h2>
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-phone"></i> {{ project_manager.phone }}</li>
                                        </ul>
                                    </div>

                                    <div class="right col-xs-5 text-center">
                                        <img src="{{ project_manager.picture }}" alt="" class="img-circle img-responsive" width="150px">
                                    </div>
                                </div>

                                <div class="col-xs-12 bottom text-center">
                                    <a type="button" class="btn btn-primary btn-xs" href="{% url 'employee_view' project_manager.user %}">
                                        <i class="fa fa-user"> </i> {% trans 'profile' %}
                                    </a>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>
{% endif %}
          <!-- MISILES -->

<div class="clearfix"></div>

        <div class="">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">{% trans 'departmentGraphs' %}</div>

                    <div class="clearfix"></div>
                    <div class="col-md-6">
                        <div class="x_content">
                            <div id="donut_department" style="height:200px;"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="x_content">
                            <div id="donut_task" style="height:200px;"></div>
                        </div>
                    </div>
            </div>
            </div>
        </div>


  <div class="">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="row x_title">
                        <div class="col-md-6">
                            <h2>{% trans 'datePicker' %}</h2>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <fieldset>
                                    <div class="control-group">
                                        <div class="controls">
                                            <div class="input-prepend input-group">
                                                <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                                <input type="text" style="width: 200px" name="timeDep_chart" id="timeDep_chart" class="form-control" value="" />
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="x_content row">
                        <div class="col-xs-12">
                            <div id="timePerDepartment" style="width: 100%; min-height: 400px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- FIN MISILES -->

        <div class="clearfix"></div>

        <div class="">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">{% trans 'departments' %}</div>

                    <div class="clearfix"></div>

                    <div class="x_content">
                        <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
                            {% for department in departments %}
                                <div class="panel">
                                    <a class="panel-heading" role="tab" id="heading{{forloop.counter}}" data-toggle="collapse"
                                       data-parent="#accordion1" href="#collapse{{forloop.counter}}"
                                       aria-expanded="{% if forloop.counter == 1 %}true{% else %}false{% endif %}"
                                       aria-controls="collapse{{forloop.counter}}">
                                        <h4 class="panel-title">{{ department.name }}</h4>
                                    </a>

                                    <div id="collapse{{forloop.counter}}" class="panel-collapse collapse in"
                                         role="tabpanel" aria-labelledby="heading{{forloop.counter}}">
                                        <div class="panel-body">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                      <th>{% trans 'task' %}</th>
                                                      <th>{% trans 'creationDate' %}</th>
                                                      <th>{% trans 'creator' %}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for task in tasks %}
                                                        <tr data-href="{% url 'task_view' task.id %}">
                                                            <td>{{task.name}}</td>
                                                            <td>{{task.registryDate}}</td>
                                                            <td>{{task.actor_id.user.get_username}}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="col-xs-12">
                <div class="x_panel">
                    <div class="x_title">{% trans 'employeeList' %}</div>

                    <div class="clearfix"></div>

                    <div class="x_content">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>{% trans 'username' %}</th>
                                    <th>{% trans 'identifier' %}</th>
                                    <th>{% trans 'phone' %}</th>
                                    <th class="hidden-xs">{% trans 'registryDate' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for employee in employees %}
                                    <tr data-href="{% url 'employee_view' employee.user %}" style="cursor: pointer;">
                                        <td><img src="{{employee.picture}}" class="avatar" alt="IMG">&nbsp;{{employee.user}}</td>
                                        <td>{{employee.identifier}}</td>
                                        <td>{{employee.phone}}</td>
                                        <td class="hidden-xs">{{employee.registryDate}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    $("[data-href]").click( function () { window.location.href = this.dataset.href })
</script>


<script>

$(document).ready(function() {
      var echartDonut = echarts.init(document.getElementById('donut_department'), theme);

      var defaultBackendData = { 'names': [''], 'values': [0] };
      $.get({
        url: "/project/ajaxEmployeesPerDpmt",
        data: {project_id: {{project.id}}},
        success: function ( backendData )  {
          defaultBackendData = backendData
          echartDonut.setOption(fromData(backendData, 1));
        }
      })


    var echartDonut2 = echarts.init(document.getElementById('donut_task'), theme);

      var defaultBackendData = { 'names': [''], 'values': [0] };
      $.get({
        url: "/project/ajaxTasksPerDpmt",
        data: {project_id: {{project.id}}},
        success: function ( backendData )  {
          defaultBackendData = backendData
          echartDonut2.setOption(fromData(backendData, 0));
        }
      })

      //BARRAS

      names = ["{% trans 'imputedTime' %}"];

      echartLine = echarts.init(document.getElementById('timePerDepartment'), theme);

      defaultRange = moment().startOf('month').format('MM/DD/YYYY') +' - '+ moment().endOf('month').format('MM/DD/YYYY')

      console.log(defaultRange)

      $.get({
        url: "{% url 'project_time_per_department' %}",
        data: {
          project_id: {{project.id}},
          start_date: moment().startOf('month').format('YYYY-MM-DD'),
          end_date: moment().endOf('month').format('YYYY-MM-DD')
        },
        success: function ( backendData )  {
          data = backendData
          echartLine.setOption( fromDataBarChart(backendData) );
        }
      });

        /**
         * Esto se encarga de hacer responsivo (más o menos) el chart
         */
        $(window).on('resize', function(){
            if(echartLine != null && echartLine != undefined){
                echartLine.resize();
            }
        });

        $('input[name="timeDep_chart"]').val(defaultRange)

      $('input[name="timeDep_chart"]').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: '{% trans 'default' %}',
                applyLabel: '{% trans 'apply' %}'
            }
        });

        $('input[name="timeDep_chart"]').on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
            $.get({
                url: "{% url 'project_time_per_department' %}",
                data: {
                    project_id: {{project.id}},
                    start_date: picker.startDate.format('YYYY-MM-DD'),
                    end_date: picker.endDate.format('YYYY-MM-DD')
                },
                success: function ( backendData )  {

                    console.log(backendData);
                    echartLine.setOption( fromDataBarChart(backendData ) );
                }
            });
        });

        $('input[name="timeDep_chart"]').on('cancel.daterangepicker', function(ev, picker) {
            $(this).val(defaultRange);
            echartLine.setOption( fromDataBarChart( names, data ) );
        });


    });


function fromData (backendData, type) {
             var opts = {
                  title : {
                      text: (function () {
                                if(type == 1)
                                    return "{% trans 'employeesPerDepartment' %}";
                                else
                                    return "{% trans 'tasksPerDepartment' %}"
                          })(),
                      x: 'left',
                      textStyle:{fontSize:16},
                      subtextStyle:{fontSize:12}
                 },
                tooltip: {
                  trigger: 'item',
                  formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                calculable: true,
                toolbox: {
                  show: true,
                  feature: {
                    magicType: {
                      show: true,
                      type: ['pie', 'funnel'],
                      option: {
                        funnel: {
                          x: '25%',
                          width: '50%',
                          funnelAlign: 'center',
                          max: 1548
                        }
                      }
                    },
                    restore: {
                      show: true,
                      title: "Restore"
                    },
                    saveAsImage: {
                      show: true,
                      title: "Save Image"
                    }
                  }
                },
                series: [{
                  name: '{{project.name}}',
                  type: 'pie',
                  radius: ['35%', '55%'],
                  itemStyle: {
                    normal: {
                      label: {
                        show: true
                      },
                      labelLine: {
                        show: true
                      }
                    },
                    emphasis: {
                      label: {
                        show: true,
                        position: 'center',
                        textStyle: {
                          fontSize: '14',
                          fontWeight: 'normal'
                        }
                      }
                    }
                  },
                  data: (function () {
                          var res = [];
                          for (var n in backendData.values) {
                              var obj = {
                                  name: backendData.names[n],
                                  value: backendData.values[n]
                              };
                            if(backendData.values[n] != 0){
                                res.push(obj);
                            }

                            }
                          return res;
                      })()
                }]
              }
              return opts;
          }


</script>

 <!-- AQUI COMIENZA LA GRÁFICA DE BARRAS -->


<script>
    function fromDataBarChart(backendData) {
        return {
            title: {
                text: '{% trans 'timePerDepartment' %}',
                subtext: '{% trans 'timePerDepartment2' %}'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                show: true,
                left: 'center',
                data: backendData.values
            },
            toolbox: {
                show: true,
                feature: {
                    magicType: {
                        show: true,
                        title: {
                            line: '{% trans 'line' %}',
                            bar: '{% trans 'bar' %}'
                        },
                        type: ['bar', 'line']
                    },
                    restore: {
                        show: true,
                        title: '{% trans 'restore' %}'
                    },
                    saveAsImage: {
                        show: true,
                        title: '{% trans 'saveImage' %}'
                    }
                }
            },
            calculable: true,
            xAxis: [{
                type: 'category',
                boundaryGap: false,
                data: (function () {
                          var res = [];
                          for (var n in backendData.names) {
                                res.push(backendData.names[n]);
                            }
                          return res;
                      })()
            }],
            yAxis: [{
                type: 'value'
            }],
             series: [{
                name: names[0],
                type: 'bar',
                smooth: true,
                itemStyle: {
                    normal: {
                        areaStyle: {
                            type: 'default'
                        }
                    }
                },

                data: (function () {
                          var res = [];
                          for (var n in backendData.values) {
                              var obj = {
                                  name: backendData.names[n],
                                  value: backendData.values[n]
                              };
                              res.push(obj);
                            }
                          return res;
                      })()
            }]
        };
    }
</script>


{% endblock %}
