{% load i18n %}
{% load l10n %}
{% load custom_tags %}


{% block content %}

  {% is_admin user.actor as actor_is_admin %}
  {% is_executive user.actor as actor_is_executive %}
  {% is_project_manager user.actor as actor_is_projectManager %}
  {% is_coordinator user.actor as actor_is_coordinator %}
  {% is_team_manager user.actor as actor_is_teamManager %}
  {% is_employee user.actor as actor_is_employee %}
  {% has_role user.actor as actor_has_role %}

   {% for project in projects %}
            <tr>
              <td class="searchable">{{project.name}}</td>
              <td>
                <a href="{% url 'project_view' project.id %}" type="button" class="btn btn-success">
                  {% trans 'details' %}
                </a>
              </td>
              {% if actor_is_admin or actor_is_executive %}
              <td class="hidden-xs">
                <a href="{% url 'project_edit' project.id %}" type="button" class="btn btn-dark">
                  {% trans 'update' %}
                </a>
              </td>
              <td class="hidden-xs">
                <a href="#" class="btn btn-danger" data-href="{% url 'project_delete' project.id %}" data-toggle="modal" data-target="#confirm-delete">{% trans 'delete' %}</a>
              </td>
              {% endif %}
            </tr>
            {% endfor %}
         
{% endblock %}