{% load custom_tags %}
{% load i18n %}
{% load l10n %}

<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_{{ field.name }}">{% trans  field.name  %}
    {% if required != "" %}
      <span class="required">*</span>
    {% endif %}
  </label>
  <div class="col-md-6 col-sm-6 col-xs-12">
      <input type="{{ type }}" name="{{ field.name }}" id="id_{{ field.label }}" {{ required }} class="form-control col-md-7 col-xs-12">
  </div>
  
  {% if field.errors %}
  <div class="col-xs-5 messageContainer">
    {{ field.errors }}
  </div>
  {% endif %}
</div>
