{% load custom_tags %}
{% load i18n %}
{% load l10n %}

<div class="col-md-4 col-sm-6 text-center">
  <div class="row wow animated zoomIn" data-wow-delay="0.1s">
    <div class="col-md-8 col-md-offset-2">
      <img class="img-circle img-responsive center-block" src="/static/landing/img/team/{{img_name}}.png" alt="{{name}}">
    </div>
  </div>
  <h4 class="wow animated fadeInUp" data-wow-delay= "0.2s">{{name}}</h4>
  <p class= "member-title wow animated fadeIn" data-wow-delay= "0.3s">{% trans role %}</p>
</div>
