[run]
branch = True
source = gog_russian_prices
omit =
    # Omitimos los ficheros que solo se ejecutan en web de forma interna en Django o al popular
    populate_database2.py
    wsgi.py
    apps.py

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    tests/*