{% extends "layout_base.html" %}

{% load i18n %}
{% load l10n %}

{% block title %}{% trans 'departmentList' %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{% trans 'departmentList' %}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="col-xs-9">{% trans 'name' %}</th>
                            <th class="col-xs-1">{% trans 'actions' %}</th>
                            <th class="col-xs-1 hidden-xs"></th>
                            <th class="col-xs-1 hidden-xs"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for department in departments %}
                            <tr>
                                <td>{{department.name}}</td>


                                <td>
                                    <a href="{% url 'department_view' department.id %}" type="button" class="btn btn-success">
                                        {% trans 'details' %}</a>
                                </td>
                                <td class="hidden-xs">
                                    <a href="{% url 'department_edit' department.id %}" type="button" class="btn btn-dark">
                                        {% trans 'update' %}</a>
                                </td>
                                <td class="hidden-xs">
                                    <a href="#" class="btn btn-default" data-href="{% url 'department_delete' department.id %}"
                                       data-toggle="modal" data-target="#confirm-delete">{% trans 'delete' %}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <a class="btn btn-dark" href="{% url 'department_create' %}">{% trans 'create' %}</a>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">{% trans 'delete' %}</div>
            <div class="modal-body">{% trans 'departmentConfirm' %}</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'cancel' %}</button>
                <a class="btn btn-danger btn-ok">{% trans 'delete' %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block javascript %}
<script>
    $('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    });
</script>
{% endblock %}
