{% extends "layout_base.html" %}
{% load i18n %}
{% load l10n %}

{% block title %}{% trans 'department' %} {{department.name}}{% endblock %}

{% block content %}
<div class="row">
  <div class="page-title">
    <div class="title_left">
      <h3>
        <strong>{% trans 'department' %}: </strong>
        {{department.name}}
        {% if department.active == False %}
          <i>({% trans "inactive" %})</i>
        {% endif %}
      </h3>
    </div>
  </div>

  <div class="clearfix"></div>
  </br>

  <!-- INI: Coordinator  -->
  {% if coordinators  %}
    <div class="col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>{% trans 'coordinator' %}/{% trans 'plural_1' %}</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <div class="clearfix"></div>

      <div class="x_content">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>{% trans 'username' %}</th>
              <th class="hidden-xs">{% trans 'phone' %}</th>
              <th class="hidden-xs">{% trans 'email' %}</th>
            </tr>
          </thead>

          <tbody>
            {% for employee in coordinators %}
            <tr data-href="{% url 'employee_view' employee.user %}" style="cursor: pointer;">
              {% if employee.picture %}
              <td><img src="{{ MEDIA_URL }}{{employee.picture}}" class="avatar" alt="IMG">&nbsp;{{employee.user.first_name}} {{employee.user.last_name}}</td>
              {% else %}
              <td><img src="{{employee.picture}}" class="avatar" alt="IMG">&nbsp;{{employee.user}}</td>
              {% endif %}
              <td class="hidden-xs">{{employee.phone}}</td>
              <td class="hidden-xs">{{employee.user.email}}</td>
              <td><a href="{% url 'employee_view' employee.user %}" type="button" class="btn btn-success">{% trans 'details' %}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endif %}

  <!-- EMPLOYEES PER TASK -->
  <div class="col-lg-6 col-xs-12">
    <div class="x_panel">
      <div class="clearfix"></div>
      <div id="welp2" style="height:350px;"></div>
    </div>
  </div>

  <!-- GRAFIQUITAS -->
  <div class="col-lg-6 col-xs-12">
    <div class="x_panel">
      <div class="x_content">
        <div id="welp" style="height:350px;"></div>
        <div style="display: flex;/*!  */justify-content: space-around;">
          <form class="form-horizontal">
            <fieldset>
              <legend>{% trans 'datePicker' %}</legend>
              <div class="control-group">
                <div class="controls">
                  <div class="input-prepend input-group">
                    <span class="add-on input-group-addon"><em class="glyphicon glyphicon-calendar fa fa-calendar"></em></span>
                    <input type="text"  name="department_chart" id="department_chart" class="form-control" value=""/>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <br/>
      </div>
    </div>
  </div>


  <!-- RENTABILIDAD -->
  <div class="col-lg-6 col-xs-12">
    <div class="x_panel">
      <div class="x_content">
        <div id="welp3" style="height:350px;"></div>
        <div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
          <form class="form-horizontal">
            <fieldset>
              <legend>{% trans 'datePicker' %}</legend>
              <div class="control-group">
                <div class="controls">
                  <div class="input-prepend input-group">
                    <span class="add-on input-group-addon"><em class="glyphicon glyphicon-calendar fa fa-calendar"></em></span>
                    <input type="text" style="width: 200px" name="department_profit_chart" id="department_profit_chart" class="form-control" value=""/>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>

          <form class="form-horizontal">
            <fieldset>
              <legend>{% trans 'data_output_to' %}</legend>
              <div class="control-group">
                <div class="controls">
                  <div class="input-prepend input-group">
                    <span class="add-on input-group-addon"><em class="glyphicon glyphicon-refresh fa fa-refresh"></em></span>
                    <div style="display: table-cell;border-radius: 0px 3px 3px 0px; min-width: 197px" id="switch-acum-button" type="text" class="btn btn-success">{% trans 'cumulative_values' %}</div>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>

        </div>
        <br/>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

 <!-- INFO DE TRABAJADORES Y TAREAS -->
  <div class="col-lg-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>{% trans 'taskList' %}</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>{% trans 'task' %}</th>
            <th class="hidden-xs">{% trans 'project' %}</th>
            <th class="hidden-xs">{% trans 'goal_description' %}</th>
            <th class="hidden-xs">{% trans 'creator' %}</th>
          </tr>
        </thead>

        <tbody>
          {% for task in tasks %}
          <tr>
            <td>{{task.name}}</td>
            <td class="hidden-xs">{{task.projectDepartment_id.project_id.name}}</td>
            <td class="hidden-xs">{{task.goal_description}}</td>
            <td class="hidden-xs">{{task.actor_id.user.get_username}}</td>
            <td><a href="{% url 'task_view' task.id %}" type="button" class="btn btn-success">{% trans 'details' %}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

      <div class="col-xs-12 col-lg-6">
        <div class="x_panel">
          <div class="x_title">
            <h2> {% trans 'employeeList' %}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="clearfix"></div>

          <div class="x_content">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>{% trans 'username' %}</th>
                  <th class="hidden-xs">{% trans 'phone' %}</th>
                  <th class="hidden-xs">{% trans 'email' %}</th>
                </tr>
              </thead>
              <tbody>
                {% for employee in employees %}
                <tr data-href="{% url 'employee_view' employee.user %}" style="cursor: pointer;">
                  {% if employee.picture %}
                  <td><img src="{{ MEDIA_URL }}{{employee.picture}}" class="avatar" alt="IMG">&nbsp;{{employee.user.first_name}} {{employee.user.last_name}}</td>
                  {% else %}
                  <td><img src="{{employee.picture}}" class="avatar" alt="IMG">&nbsp;{{employee.user}}</td>
                  {% endif %}
                  <td class="hidden-xs">{{employee.phone}}</td>
                  <td class="hidden-xs">{{employee.user.email}}</td>
                  <td><a href="{% url 'employee_view' employee.user %}" type="button" class="btn btn-success">{% trans 'details' %}</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}


{% block javascript %}
<script>
    function fromData (backendData) {
      return {
        title : {
          text: '{% trans 'depTaskChartTitle' %}',
          subtext: '{% trans 'depTaskChartSubtitle' %}',
          x: 'left'
        },
        tooltip : {
          trigger: 'axis'
        },
        legend: {
          data:['{% trans 'investedTime' %}'],
          x : 'center',
        },
        toolbox: {
            show: true,
              feature: {
                saveAsImage: {
                    show: true,
                    title: '{% trans 'saveImage' %}'
                }
              }
          },
        calculable : true,
        xAxis : [
        {
          type : 'category',
          show : false,
          data : backendData.names
        }
        ],
        yAxis : [
        {
          type : 'value'
        }
        ],
        series : [
        {
          name:'{% trans 'investedTime' %}',
          type:'bar',
          data: backendData.values,
          markPoint : {
            data : [
            {type : 'max', name: '{% trans 'max' %}'},
            {type : 'min', name: '{% trans 'min' %}'}
            ]
          },
          markLine : {
            data : [
            {type : 'average', name: '{% trans 'avg' %}'}
            ]
          }
        }
        ]
      }
    }
    function fromProfitData (backendData,acum) {
      dates=backendData["dates"];
      expenses=backendData["expenses"]
      income=backendData["income"]
      subtext='{% trans 'notAcum' %}';
      if(acum){
        subtext='{% trans 'acum' %}';
        expenses=backendData["acumExpenses"];
        income=backendData["acumIncome"];
      }
      //en xAxis data pones lo que va en el eje X (en este caso las fechas)
      //cada dato necesita una serie
      //incomes y expenses, dos series, cada una con un campo data

      return {
        title : {
          text: '{% trans 'dep_profit' %}',
          subtext: subtext
        },
        tooltip : {
          trigger: 'axis'
        },
        legend: {
          data:['Expenses and income']
        },
        toolbox: {
            show: true,
              feature: {
                saveAsImage: {
                    show: true,
                    title: '{% trans 'saveImage' %}'
                }
              }
          },
        calculable : true,
        xAxis : [
        {
          type : 'category',
          show : false,
          data : dates
        }
        ],
        yAxis : [
        {
          type : 'value'
        }
        ],
        series : [
        {
          name:'{% trans 'expenses' %}',
          type:'line',
          data: expenses,
          markPoint : {
            data : [
            {type : 'max', name: 'Max'},
            {type : 'min', name: 'Min'}
            ]
          },
          markLine : {
            data : [
            {type : 'average', name: 'Avg'}
            ]
          }
        },
        {
          name:'{% trans 'income' %}',
          type:'line',
          data: income,
          markPoint : {
            data : [
            {type : 'max', name: 'Max'},
            {type : 'min', name: 'Min'}
            ]
          },
          markLine : {
            data : [
            {type : 'average', name: 'Avg'}
            ]
          }
        }
        ]
      }

    }

    $(document).ready(function() {

      // Para que <legend> se vea como <label>
      $("legend").css({
          "padding": "inherit",
          "display": "inline-block",
          "margin-bottom": "5px",
          "font-weight": "700",
          "font-size": "inherit",
          "border": "inherit"
      })

      /////////////////////////////////
      // Gráfico de Tiempo Por Tarea //
      /////////////////////////////////
      var echartLine = echarts.init(document.getElementById('welp'), theme);
      var defaultBackendData = { 'names': [''], 'values': [0] };
      $.get({
        url: "/department/ajaxTimePerTask",
        data: {department_id: {{department.id}}},
        success: function ( backendData )  {
          defaultBackendData = backendData
          echartLine.setOption( fromData( backendData ) );
        }
      })
      ///Date pickers
      defaultRange = moment().startOf('month').format('MM/DD/YYYY') +' - '+ moment().endOf('month').format('MM/DD/YYYY')
      $('input[name="department_chart"]').val(defaultRange)

      $('input[name="department_chart"]').daterangepicker({
        autoUpdateInput: false,
        locale: {
          cancelLabel: '{% trans 'default' %}',
          applyLabel: '{% trans 'apply' %}'
        }
      });

      $('input[name="department_chart"]').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        $.get({
          url: "/department/ajaxTimePerTask",
          data: {
            department_id: {{department.id}},
            start_date: picker.startDate.format('YYYY-MM-DD'),
            end_date: picker.endDate.format('YYYY-MM-DD')
          },
          success: function ( backendData )  {
            echartLine.setOption( fromData( backendData ) );
          }
        })
      });

      $('input[name="department_chart"]').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val(defaultRange);
        echartLine.setOption( fromData( defaultBackendData ) );
      });


      ///////////////////////////////////
      // Gráfico de Gastos y Ganancias //
      ///////////////////////////////////
      var useAcum=false;
      var echartLine2 = echarts.init(document.getElementById('welp3'), theme);
      var  defaultProfitBackendData = {'dates':[],'expenses':[],'income':[],'acumExpenses':[],'acumIncome':[]};
      $.get({
        url: "/department/ajaxProfit/"+ {{department.id}} +"/",
        success: function ( backendData )  {
          defaultProfitBackendData = backendData
          echartLine2.setOption( fromProfitData( backendData,useAcum ) );
        }
      })
      //Date picker for profit
      defaultRange = moment().startOf('month').format('MM/DD/YYYY') +' - '+ moment().endOf('month').format('MM/DD/YYYY')
      $('input[name="department_profit_chart"]').val(defaultRange)

      $('input[name="department_profit_chart"]').daterangepicker({
        autoUpdateInput: false,
        locale: {
          cancelLabel: '{% trans 'default' %}',
          applyLabel: '{% trans 'apply' %}'
        }
      });

      $('input[name="department_profit_chart"]').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        $.get({
          url:"/department/ajaxProfit/"+{{department.id}}+"/",
          data: {
            start_date: picker.startDate.format('YYYY-MM-DD'),
            end_date: picker.endDate.format('YYYY-MM-DD')
          },
          success: function ( backendData )  {
            defaultProfitBackendData = backendData
            echartLine2.setOption( fromProfitData( backendData ,useAcum) );
          }
        })
      });

      $('input[name="department_profit_chart"]').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val(defaultRange);
        echartLine2.setOption( fromProfitData( defaultProfitBackendData,useAcum ) );
      });


      var switcher= $('#switch-acum-button');
      switcher.click(function(){
        useAcum=!useAcum;
        if(useAcum){
          switcher.html("{% trans 'non_cumulative_values' %}")
          echartLine2.setOption( fromProfitData( defaultProfitBackendData ,useAcum) );
        } else {
          switcher.html("{% trans 'cumulative_values' %}")
          echartLine2.setOption( fromProfitData( defaultProfitBackendData ,useAcum) );
        }
      })

      ////////////////////////////////////
      // Gráfico de Empleados Por Tarea //
      ////////////////////////////////////

      function reformatForPieChart(backendData) {
        var res = []
        for( i=0; i<backendData.names.length; i++) {
          res.push({
            name: backendData.names[i],
            value: backendData.values[i]
          })
        }
        return res
      }

      function pieFromData(backendData) {
        return {
            title : {
                text: '{% trans 'empTaskChartTitle' %}',
                subtext: '{% trans 'empTaskChartSubtitle' %}',
                x:'left'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            toolbox: {
            show: true,
              feature: {
                saveAsImage: {
                    show: true,
                    title: '{% trans 'saveImage' %}'
                }
              }
            },
            calculable : true,
            series : [
                {
                    name:'{% trans 'empTaskChartTitle' %}',
                    type:'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data: reformatForPieChart(backendData)
                }
            ]
        }
      }


      var echartLine3 = echarts.init(document.getElementById('welp2'), theme);

      $.get({
        url: "/department/ajaxEmployeesPerTask",
        data: {department_id: {{department.id}}},
        success: function ( backendData )  {
          echartLine3.setOption( pieFromData(backendData) );
        }
      })


      //Responsiveness para todos
      $(window).on('resize', () => {
          [echartLine, echartLine2, echartLine3].forEach( e => {
              e.resize()
          })
      })
    })
</script>
{% endblock %}
