{% extends "layout_base.html" %}
{% load i18n %}
{% load l10n %}
{% block title %}{% trans 'departmentList' %}{% endblock %}

{% block content %}
<h1><strong>{% trans 'department' %}: </strong>{{department.name}}</h1>
<h2><strong>{% trans 'coordinator' %}: </strong>{{coordinator.user.first_name}} {{coordinator.user.last_name}}</h2> 

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title" style="display:flex; justify-content: center;">
                        <form class="form-horizontal">
                          <label for"datepickerlabel">{% trans 'datePicker' %}</label>
                          <fieldset>
                            <div class="control-group">
                              <div class="controls">
                                <div class="input-prepend input-group">
                                  <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                  <input type="text" style="width: 200px" name="department_chart" id="department_chart" class="form-control" value=""/>
                                </div>
                              </div>
                            </div>
                          </fieldset>
                        </form>
      </div>
        <div class="clearfix">
        </div>
      <div class="x_content">

        <div id="welp" style="height:350px;"></div>

      </div>
    </div>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">

      <h2>{% trans 'taskList' %}</h2>
      <ul class="nav navbar-right panel_toolbox">
                    
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
      <div class="clearfix"></div>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>{% trans 'task' %}</th>
            <th>{% trans 'projectDeparment' %}</th>
            <th>{% trans 'creationDate' %}</th>
            <th>{% trans 'creator' %}</th>
            <th>{% trans 'timeLog' %}</th>
          </tr>
        </thead>
        <tbody>

          {% for task in tasks %}
          <tr>
            <td>{{task.name}}</td>

            <td>{{task.projectDepartment_id}}</td>

            <td>{{task.actor_id}}</td>

            <td>{{task.registryDate}}</td>

            <td>
              <a href="{% url 'timeLog_list' task.id %}" type="button" class="btn btn-success">{% trans 'timeLog' %}</a>
    

            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>


<div class="x_panel">
    <div class="x_title">

      <h2>{% trans 'employeeList' %}</h2>
      <ul class="nav navbar-right panel_toolbox">
                    
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>{% trans 'username' %}</th>
                                    <th>{% trans 'identifier' %}</th>
                                    <th>{% trans 'phone' %}</th>
                                    <th class="hidden-xs">{% trans 'registryDate' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for employee in employees %}
                                    <tr data-href="{% url 'employee_view' employee.user %}" style="cursor: pointer;">
                                        <td><img src="{{employee.picture}}" class="avatar" alt="IMG">&nbsp;{{employee.user}}</td>
                                        <td>{{employee.identifier}}</td>
                                        <td>{{employee.phone}}</td>
                                        <td class="hidden-xs">{{employee.registryDate}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    

</div>
    </div>
  </div>

</div>

{% endblock %}

{% block javascript %}

    <!-- bootstrap-daterangepicker -->
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/daterangepicker.js"></script>


<script>

    //Igual para todas, es el tema de la plantilla de David
    var theme = {
      color: [
      '#26B99A', '#34495E', '#BDC3C7', '#3498DB',
      '#9B59B6', '#8abb6f', '#759c6a', '#bfd3b7'
      ],

      title: {
        itemGap: 8,
        textStyle: {
          fontWeight: 'normal',
          color: '#408829'
        }
      },

      dataRange: {
        color: ['#1f610a', '#97b58d']
      },

      toolbox: {
        color: ['#408829', '#408829', '#408829', '#408829']
      },

      tooltip: {
        backgroundColor: 'rgba(0,0,0,0.5)',
        axisPointer: {
          type: 'line',
          lineStyle: {
            color: '#408829',
            type: 'dashed'
          },
          crossStyle: {
            color: '#408829'
          },
          shadowStyle: {
            color: 'rgba(200,200,200,0.3)'
          }
        }
      },

      dataZoom: {
        dataBackgroundColor: '#eee',
        fillerColor: 'rgba(64,136,41,0.2)',
        handleColor: '#408829'
      },
      grid: {
        borderWidth: 0
      },

      categoryAxis: {
        axisLine: {
          lineStyle: {
            color: '#408829'
          }
        },
        splitLine: {
          lineStyle: {
            color: ['#eee']
          }
        }
      },

      valueAxis: {
        axisLine: {
          lineStyle: {
            color: '#408829'
          }
        },
        splitArea: {
          show: true,
          areaStyle: {
            color: ['rgba(250,250,250,0.1)', 'rgba(200,200,200,0.1)']
          }
        },
        splitLine: {
          lineStyle: {
            color: ['#eee']
          }
        }
      },
      timeline: {
        lineStyle: {
          color: '#408829'
        },
        controlStyle: {
          normal: {
            color: '#408829'
          },
          emphasis: {
            color: '#408829'
          }
        }
      },

      k: {
        itemStyle: {
          normal: {
            color: '#68a54a',
            color0: '#a9cba2',
            lineStyle: {
              width: 1,
              color: '#408829',
              color0: '#86b379'
            }
          }
        }
      },
      map: {
        itemStyle: {
          normal: {
            areaStyle: {
              color: '#ddd'
            },
            label: {
              textStyle: {
                color: '#c12e34'
              }
            }
          },
          emphasis: {
            areaStyle: {
              color: '#99d2dd'
            },
            label: {
              textStyle: {
                color: '#c12e34'
              }
            }
          }
        }
      },
      force: {
        itemStyle: {
          normal: {
            linkStyle: {
              strokeColor: '#408829'
            }
          }
        }
      },
      chord: {
        padding: 4,
        itemStyle: {
          normal: {
            lineStyle: {
              width: 1,
              color: 'rgba(128, 128, 128, 0.5)'
            },
            chordStyle: {
              lineStyle: {
                width: 1,
                color: 'rgba(128, 128, 128, 0.5)'
              }
            }
          },
          emphasis: {
            lineStyle: {
              width: 1,
              color: 'rgba(128, 128, 128, 0.5)'
            },
            chordStyle: {
              lineStyle: {
                width: 1,
                color: 'rgba(128, 128, 128, 0.5)'
              }
            }
          }
        }
      },
      gauge: {
        startAngle: 225,
        endAngle: -45,
        axisLine: {
          show: true,
          lineStyle: {
            color: [
            [0.2, '#86b379'],
            [0.8, '#68a54a'],
            [1, '#408829']
            ],
            width: 8
          }
        },
        axisTick: {
          splitNumber: 10,
          length: 12,
          lineStyle: {
            color: 'auto'
          }
        },
        axisLabel: {
          textStyle: {
            color: 'auto'
          }
        },
        splitLine: {
          length: 18,
          lineStyle: {
            color: 'auto'
          }
        },
        pointer: {
          length: '90%',
          color: 'auto'
        },
        title: {
          textStyle: {
            color: '#333'
          }
        },
        detail: {
          textStyle: {
            color: 'auto'
          }
        }
      },
      textStyle: {
        fontFamily: 'Arial, Verdana, sans-serif'
      }
    }


    function fromData (backendData) {
      return {
        title : {
          text: '{% trans 'depTaskChartTitle' %}',
          subtext: '{% trans 'depTaskChartSubtitle' %}'
        },
        tooltip : {
          trigger: 'axis'
        },
        legend: {
          data:['{% trans 'investedTime' %}']
        },
        toolbox: {
          show : true,
          feature : {
            saveAsImage : {show: true}
          }
        },
        calculable : true,
        xAxis : [
        {
          type : 'category',
          show : false,
          data : backendData.names
        }
        ],
        yAxis : [
        {
          type : 'value'
        }
        ],
        series : [
        {
          name:'{% trans 'investedTime' %}',
          type:'bar',
          data: backendData.times,
          markPoint : {
            data : [
            {type : 'max', name: '{% trans 'max' %}'},
            {type : 'min', name: '{% trans 'min' %}'}
            ]
          },
          markLine : {
            data : [
            {type : 'average', name: '{% trans 'avg' %}'}
            ]
          }
        }
        ]
      }
    }

    $(document).ready(function() {
      var echartLine = echarts.init(document.getElementById('welp'), theme);
      var defaultBackendData = { 'names': [''], 'times': [0] };
      $.get({
        url: "/department/ajaxTimePerTask",
        data: {department_id: {{department.id}}},
        success: function ( backendData )  {
          defaultBackendData = backendData
          echartLine.setOption( fromData( backendData ) );
        }
      })

      defaultRange = moment().startOf('month').format('MM/DD/YYYY') +' - '+ moment().endOf('month').format('MM/DD/YYYY')
      $('input[name="department_chart"]').val(defaultRange)

      $('input[name="department_chart"]').daterangepicker({
        autoUpdateInput: false,
        locale: {
          cancelLabel: '{% trans 'default' %}',
          applyLabel: '{% trans 'apply' %}'
        }
      });

      $('input[name="department_chart"]').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        $.get({
          url: "/department/ajaxTimePerTask",
          data: {
            department_id: {{department.id}},
            start_date: picker.startDate.format('YYYY-MM-DD'),
            end_date: picker.endDate.format('YYYY-MM-DD')
          },
          success: function ( backendData )  {
            echartLine.setOption( fromData( backendData ) );
          }
        })
      });

      $('input[name="department_chart"]').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val(defaultRange);
        echartLine.setOption( fromData( defaultBackendData ) );
      });
    })

</script>
{% endblock %}