{% extends "layout_base.html" %}
{% load i18n %}
{% load l10n %}

{% block title %}Registro Compañía{% endblock %}


{% block javascript %}
<script>
//Validación Ajax
   /* $("#id_company_email").change(function () {

		 var cif = $(this).val();
		 console.log(cif);

      $.ajax({
        url: '/ajax/validate_cif/',
        data: {
          'cif': cif
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            //alert("A user with this username already exists.");
          }
        }
      });

    });*/
</script>

<script>
//Esto es para validar en cliente de forma bonita con bootstrap :)
$(document).ready(function() {
    $('#myform').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
          cif: {
                validators: {
                    notEmpty: {
                        message: 'The last name is required and cannot be empty'
                    },
                }
            },
            company_name: {
                validators: {
                    notEmpty: {
                        message: 'The last name is required and cannot be empty'
                    }
                }
            },
            company_email: {
                validators: {
                    notEmpty: {
                        message: 'The email address is required'
                    },
                    emailAddress: {
                        message: 'The input is not a valid email address'
                    }
                }
            },
            short_name: {
                validators: {
                    notEmpty: {
                        message: 'The gender is required'
                    }
                }
            },
            company_phone: {
                validators: {
                    notEmpty: {
                        message: 'The gender is required'
                    }
                }
            }
        },
    });
});
</script>

{% endblock %}

{% block content %}

{% if form.errors %}
        <p>{{ form.errors }}</p>
{% endif %}

<h1> Registrar Compañía</h1></br>

   <form id="myform" method="POST" class="form-horizontal" data-toggle="validator" role="form" action="companyregister">
    	{% csrf_token %}
	    <div class="col-md-6 col-md-offset-2" >
        {% for field in form %}
            <div class="form-group">
                <label class="control-label col-sm-4" for="id_{{ field.name }}">{{ field.label }}</label>
                <div class="col-sm-6">
                    {% if field.label == 'password1' or field.label == 'password2' %}
                        <input type="password" class="form-control col-md-6"
                               name="{{ field.name }}"
                               id="id_{{ field.name }}" >
                    {% elif field.label == 'Company email' %}
                     <input type="email" class="form-control col-md-6"
                               name="{{ field.label }}"
                               id="id_{{ field.name }}" placeholder="Email" data-error="really nigga?" >
                     <div class="help-block with-errors"></div>

                    {% elif field.label == 'logo'%}
                      <input type="file" class="form-control col-md-6"
                               name="{{ field.label }}"
                               id="id_{{ field.name }}">
                     <div class="help-block with-errors"></div>

                    {% else%}
                        <input type="text" class="form-control col-md-6"
                               name="{{ field.name }}"
                               id="id_{{ field.name }}" data-odd="odd" >
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <br/>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button type="submit" class="btn btn-default">Registrate</button>
            </div>
        </div>
        </div>

    </form>
{% endblock %}
