{% extends "layout_base.html" %}
{% load i18n %}
{% load l10n %}

{% block title %}{% trans 'registerCompany' %}{% endblock %}


{% block javascript %}

<script type="text/javascript">
    function toggle_form(){
      var elem = document.getElementById('toggle_button_id');
      if(elem.textContent == "{% trans 'company_info'%}"){
        document.getElementById('toggle_button_id').textContent = "{% trans 'admin_info' %}";
      }else{
        document.getElementById('toggle_button_id').textContent = "{% trans 'company_info' %}";
      }

    };

</script>

<script type="text/javascript">
//ESTE SCRIPT COMPRUEBA LOS VALORES DEL FORM DE LA COMPAÑÍA PARA NO DEJAR PASAR AL DEL ADMIN SI NO ESTAN CORRECTOS
  $('#div_company_info').change(function() {
    formIsValid = true;
    $('.company_class',$(this)).each( function() {
        formIsValid = formIsValid && $(this).hasClass('has-success');
    });

    if(formIsValid) {
       $('.next_button', $(this)).attr('disabled', false);
    } else {

        $('.next_button', $(this)).attr('disabled', true);
    }
});
</script>

<script type="text/javascript">
//ESTE SCRIPT COMPRUEBA LOS VALORES DEL FORM COMPLETO PARA NO DEJAR PULSAR SOBRE "REGISTRAR" SI NO ESTAN TODOS CORRECTOS
  $('#register_form').change(function() {
    formIsValid = true;
    $('.form-class',$(this)).each( function() {
        formIsValid = formIsValid && $(this).hasClass('has-success');
    });
    if(formIsValid) {
        $('.submit-button', $(this)).attr('disabled', false);
    } else {

        $('.submit-button', $(this)).attr('disabled', true);
    }
});


</script>

<script>
//Validación Ajax
   $("#id_company_email").change(function () {
     // $('.collapse').collapse('toggle');
		 /*var cif = $(this).val();
		 console.log(cif);

      $.ajax({
        url: '/ajax/validate_cif/',
        data: {
          'cif': cif
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            //alert("A user with this username already exists.");
          }
        }
      });*/

    });
</script>

<script>
//Esto es para validar en cliente de forma bonita con bootstrap :)
$(document).ready(function() {
    $('#register_form').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
          cif: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'cif_error'%}'
                    },
                },
               /* custom: {
                    "uniquecif": function(el) {
                      $.ajax({
                        url:'/ajax/validate_cif/',
                        type:'POST',
                        data: {username: $(el).val()},
                            }).done(result => {
                                console.log(Boolean(result))
                                return Boolean(!result)
                              }).fail(err => {
                                console.log('Error:', err)
                      })
                    }
                },*/
            },
            company_name: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'company_name_error' %}'
                    }
                }
            },
            company_email: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'company_email_error#1' %}'
                    },
                    emailAddress: {
                        message: '{% trans 'company_email_error#2' %}'
                    }
                }
            },
            short_name: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'company_short_name_error' %}'
                    }
                }
            },
            company_phone: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'company_phone_error' %}'
                    }
                }
            },           
            username: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'username_error' %}'
                    }
                }
            },
            admin_email: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'admin_email_error#1' %}'
                    },
                    emailAddress: {
                        message: '{% trans 'admin_email_error#2' %}'
                    }
                }
            },
            password: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'password_error' %}'
                    }
                }
            },
            repeatPassword: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'passwordRepeat_error' %}'
                    }
                }
            },
            first_name: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'first_name_error' %}'
                    }
                }
            },
            last_name: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'last_name_error' %}'
                    }
                }
            },
            admin_identifier: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'admin_identifier_error' %}'
                    }
                }
            },
            admin_phone: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'admin_phone_error' %}'
                    }
                }
            },

        },
    });
});


</script>

<script>
/*
  $("#id_cif").validator({
    
    errors: {
        "uniquecif":"Username in use",
    }
});
*/

</script>

{% endblock %}

{% block content %}

{% if form.errors %}
        <p>{{ form.errors }}</p>
{% endif %}
 
<h1> {% trans 'registerCompany' %}</h1></br>




   <form id="register_form" method="POST" class="form-horizontal" data-toggle="validator" role="form" action="" enctype="multipart/form-data">

    {% csrf_token %}


        <div class="form-group control-buttons">
            <div class="col-sm-offset-4 col-sm-10">
                <button id="toggle_button_id"type="button" onclick="toggle_form()"class="btn btn-info" data-toggle="collapse" data-target="#div_company_info, #div_admin_info">{% trans 'admin_info'%}</button>

                <button type="submit" class="btn btn-success submit-button" disabled="true">{% trans 'register' %}</button>

            </div>
          
        </div>





      <!-- AQUI COMIENZA LA INFO DE LA COMPAÑIA -->

	    <div id="div_company_info" class="col-md-6 col-md-offset-2 collapse in" >

        <div class="form-group company_class form-class">
          <label class="control-label col-sm-4" for="id_{{ form.cif.name }}">{% trans 'cif' %}</label>
            <div class="col-sm-6">
              <input type="text" class="form-control col-md-6" name="{{ form.cif.name }}" id="id_{{ form.cif.name }}">
            </div>
        </div>

        <div class="form-group company_class form-class">
          <label class="control-label col-sm-4" for="id_{{ form.company_name.name }}">{% trans 'companyName' %}</label>
            <div class="col-sm-6">
              <input type="text" class="form-control col-md-6" name="{{ form.company_name.name }}" id="id_{{ form.company_name.label }}">
            </div>
        </div>

        <div class="form-group company_class form-class">
          <label class="control-label col-sm-4" for="id_{{ form.short_name.name }}">{% trans 'short_name'%}</label>
            <div class="col-sm-6">
              <input type="text" class="form-control col-md-6" name="{{ form.short_name.name }}" id="id_{{ form.short_name.label }}">
            </div>
        </div>

        <div class="form-group company_class form-class">
          <label class="control-label col-sm-4" for="id_{{ form.company_email.name }}">{% trans 'company_email' %}</label>
            <div class="col-sm-6">
              <input type="email" class="form-control col-md-6" name="{{ form.company_email.name }}" id="id_{{ form.company_email.label }}">
            </div>
        </div>

        <div class="form-group company_class form-class">
          <label class="control-label col-sm-4" for="id_{{ form.company_phone.name }}">{% trans 'company_phone' %}</label>
            <div class="col-sm-6">
            <input type="text" class="form-control col-md-6" name="{{ form.company_phone.name }}" id="id_{{ form.company_phone.label }}">
            </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-4" for="id_{{ form.logo.name }}">{% trans 'logo' %}</label>
            <div class="col-sm-6">
              <input type="file" name="{{ form.logo.name }}" id="id_{{ form.logo.label }}">
            </div>
        </div>
                   
        <br/>

        </div>

        <!-- AQUI COMIENZA LA INFO DEL ADMIN-->

        <div id="div_admin_info" class="col-md-6 col-md-offset-2 collapse" >


        <div class="form-group form-class">
          <label class="control-label col-sm-4" for="id_{{ form.username.label }}">{% trans 'username' %}</label>
            <div class="col-sm-6">
              <input type="text" class="form-control col-md-6" name="{{ form.username.name }}" id="id_{{ form.username.label }}">
            </div>
        </div>

        <div class="form-group form-class">
          <label class="control-label col-sm-4" for="id_{{ form.admin_email.label }}">{% trans 'admin_email' %}</label>
            <div class="col-sm-6">
              <input type="email" class="form-control col-md-6" name="{{ form.admin_email.name }}" id="id_{{ form.admin_email.label }}">
            </div>
        </div>

        <div class="form-group form-class">
          <label class="control-label col-sm-4" for="id_{{ form.password.label }}">{% trans 'password' %}</label>
            <div class="col-sm-6">
              <input type="password" class="form-control col-md-6" name="{{ form.password.name }}" id="id_{{ form.password.label }}">
            </div>
        </div>

        <div class="form-group form-class">
          <label class="control-label col-sm-4" for="id_{{ form.repeatPassword.label }}">{% trans 'repeatPassword' %}</label>
            <div class="col-sm-6">
              <input type="password" class="form-control col-md-6" name="{{ form.repeatPassword.name }}" id="id_{{ form.repeatPassword.label }}">
            </div>
        </div>

        <div class="form-group form-class">
          <label class="control-label col-sm-4" for="id_{{ form.first_name.label }}">{% trans 'first_name' %}</label>
            <div class="col-sm-6">
              <input type="text" class="form-control col-md-6" name="{{ form.first_name.name }}" id="id_{{ form.first_name.label }}">
            </div>
        </div>

        <div class="form-group form-class">
          <label class="control-label col-sm-4" for="id_{{ form.last_name.label }}">{% trans 'last_name'%}</label>
            <div class="col-sm-6">
              <input type="text" class="form-control col-md-6" name="{{ form.last_name.name }}" id="id_{{ form.last_name.label }}">
            </div>
        </div>

        <div class="form-group form-class">
          <label class="control-label col-sm-4" for="id_{{ form.admin_identifier.label }}">{% trans 'admin_identifier' %}</label>
            <div class="col-sm-6">
              <input type="text" class="form-control col-md-6" name="{{ form.admin_identifier.name }}" id="id_{{ form.admin_identifier.label }}">
            </div>
        </div>

        <div class="form-group form-class">
          <label class="control-label col-sm-4" for="id_{{ form.admin_phone.label }}">{% trans 'admin_phone'%}</label>
            <div class="col-sm-6">
              <input type="text" class="form-control col-md-6" name="{{ form.admin_phone.name }}" id="id_{{ form.admin_phone.label }}">
            </div>
        </div>
                   
        <br/>



        </div>

    </form>
{% endblock %}
