{% extends "layout_base.html" %}
{% load i18n %}
{% load l10n %}
{% block title %}{% trans 'departmentList' %}{% endblock %}

{% block content %}
<h1><strong>{% trans 'department' %}: </strong>{{department.name}}</h1>
<h2><strong>{% trans 'coordinator' %}: </strong>{{coordinator.user.first_name}} {{coordinator.user.last_name}}</h2>

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>{% trans 'employeeList' %}</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>{% trans 'username' %}</th>
            <th>{% trans 'identifier' %}</th>
            <th>{% trans 'phone' %}</th>
            <th class="hidden-xs">{% trans 'registryDate' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for employee in employees %}
          <tr data-href="/employee/view/{{employee.user}}" style="cursor: pointer;">
            <th scope="row">{{forloop.counter}}</th>

            <td><img src="{{employee.picture}}" class="avatar" alt="IMG">&nbsp;{{employee.user}}</td>

            <td>{{employee.identifier}}</td>

            <td>{{employee.phone}}</td>

            <td class="hidden-xs">{{employee.registryDate}}</td>

          </tr>
          {% endfor %}
        </tbody>
      </table>


    </div>
  </div>

</div>

{% endblock %}

{% block javascript %}
{% endblock %}