{% extends "layout_base.html" %}
{% load i18n %}
{% load l10n %}
{% block title %}{% trans 'departmentList' %}{% endblock %}

{% block javascript %}
<script>
	function windowAlert(id){
		var confirm=window.confirm("{% trans 'departmentConfirm' %}");
		if(confirm==true){
			window.location="/department/delete?department_id="+id;
		}else{
			return false;
		}
	}
</script>
{% endblock %}


{% block content %}
<h1>{% trans 'departmentList' %}</h1>
</br>
</br>

<ul class="list-group col-xs-12">
{% for department in departments %}

	<li class="list-group-item">
	<div class="list-group col-xs-4">{{department.name}} </div>
	<div align="right" >
		<a align="right" class="btn btn-primary" href="/department/edit?department_id={{department.id}}">{% trans 'update' %}</a>
		<input type="button" align="right" class="btn btn-danger" onclick="windowAlert({{department.id}})" value="{% trans 'delete' %}"/>
	</div>
	</li>

{% endfor %}
</ul>
</br>

<a class="btn btn-primary" href="/department/create">{% trans 'create' %}</a>
{% endblock %}
