{% extends "layout_base.html" %}
{% load i18n %}
{% load l10n %}
{% block title %}
{% if  request.path == '/department/create'%}
{% trans 'createDepartment' %}
{% else %}
{% trans 'editDepartment' %}
{% endif %}
{% endblock %}

{% block javascript %}


{#}
<script>
//Esto es para validar en cliente de forma bonita con bootstrap :)
$(document).ready(function() {
    $('#register_form').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                validators: {
                    notEmpty: {
                        message: "{% trans 'departmentNameNotNull' %}"
                    },
                }
            },
            

        },
    });
});
</script>
#}
<script type="text/javascript">
	
function ajax(){
    $.post('/department/createAsync', $('#register_form').serialize(), function(data, status){
    	document.getElementById('register_form').reset();
        $("#register_form").data('bootstrapValidator').resetForm();
    	console.log(data)
    	if(JSON.stringify(data['success'])=="true"){
    		$('#errorDiv').attr('hidden', true);
    		$('#error2Div').attr('hidden', true);
    		$('#successDiv').attr('hidden', false).html("<strong>{% trans 'success' %} | </strong>{% trans 'departmentSaved' %}");
    	}else if(JSON.stringify(data['repeated_name'])=="true"){
    		$('#successDiv').attr('hidden', true);
    		$('#error2Div').attr('hidden', true);
    		$('#errorDiv').attr('hidden', false).html("<strong>{% trans 'fail' %} | </strong>{% trans 'departmentName' %}");
    	}else{
    		$('#successDiv').attr('hidden', true);
    		$('#error2Div').attr('hidden', true);
    		$('#errorDiv').attr('hidden', false).html("<strong>{% trans 'fail' %} | </strong>{% trans 'departmentError' %}"); 
    	}
       	
    });
};
</script>

{% endblock %}


{% block content %}
		{% if  request.path == '/department/create'%}
			<h1 align="center"> {% trans 'createDepartment' %} </h1></br>
		{% else %}
			<h1 align="center"> {% trans 'editDepartment' %} </h1></br>
		{% endif %}
		<div id="successDiv" class="alert alert-success" hidden='true'>
	    	</div>
	    <div id="errorDiv" class="alert alert-danger"  hidden='true'>
	    	</div>
		{% if  repeated_name == True %}
	    	<div id="error2Div" class="alert alert-danger">
	    		<strong>{% trans 'fail' %} | </strong>{% trans 'departmentName' %}
	    	</div>
	    {% endif %}
    <form id="register_form" method="POST" action="" class="form-horizontal">{% csrf_token %}

	    <div class="form-group company_class form-class">
          <label class="control-label col-sm-4" for="id_{{ form.name.name }}">{{ form.name.label }}</label>
            <div class="col-sm-6">
              <input type="text" class="form-control col-md-6" name="{{ form.name.name }}" id="id_{{ form.name.name }}" value="{{ form.name.value }}">
            </div>
            <input type="text" hidden="true" name="{{ form.department_id.name }}" id="id_{{ form.department_id.name }}" value="{{ form.department_id.value}}">
        </div>
	    </br>
	    <div align="center" >
		    <input type="submit" class="btn btn-success submit-button" value="{% trans 'confirm' %}" />
		    {% if  request.path == '/department/create'%}
		    	<input type="button" class="btn btn-success submit-button" value="{% trans 'departmentAdd' %}" onclick="ajax();" />
		    {% endif %}
		</div>
    </form>

{% endblock %}