{% extends "layout_base.html" %}
{% load i18n %}
{% load l10n %}
{% block title %}
{{employee.user}}
{% endblock %}

{% block content %}
<h1>{% trans 'profile' %}</h1>

<!-- Employee's profile card -->
<div class="row row-centered">
  <div class="col-md-5 col-centered">
    <div class="box box-widget widget-user">
      <!-- Background can be changed to a custom one -->
      <div class="widget-user-header " style="background: #1a2226 center center; color: white">
        <h3 class="widget-user-username">{{employee.user}}</h3>
        <h5 class="widget-user-desc">{{employee.identifier}}</h5>
      </div>
      <div class="widget-user-image">
        <img class="img-circle" src="/static/img/profile-picture.jpg" alt="User Avatar">
      </div>

      <!-- Roles/Departments/Projects Summary -->
      <div class="box-footer">
        <div class="row">
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <h5 class="description-header">0</h5>
              <span class="description-text">{% trans 'roles' %}</span>
            </div>
          </div>
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <h5 class="description-header">0</h5>
              <span class="description-text">{% trans 'departments' %}</span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="description-block">
              <h5 class="description-header">0</h5>
              <span class="description-text">{% trans 'projects' %}</span>
            </div>
          </div>
        </div>
      </div>

      <!-- More self info -->
      <div class="box-body box-profile">
        <ul class="list-group list-group-unbordered">
          <li class="list-group-item">
            <b>{% trans 'phone' %}</b> <span class="pull-right">{{employee.phone}}</span>
          </li>
          <li class="list-group-item">
            <b>{% trans 'registryDate' %}</b> <span class="pull-right">{{employee.registryDate}}</span>
          </li>
        </ul>
        <a href="/employee/list" class="btn bg-olive btn-flat margin"><b>{% trans 'backToList' %}</b></a>
      </div>

    </div>
  </div>
</div>


<div>
<h2>{% trans 'roles' %}</h2>
{% if employee_roles %}
<table>
  <thead class="table">
    <tr>
      <th class="col-xs-3">{% trans 'department' %}</th>
      <th class="col-xs-3">{% trans 'project' %}</th>
      <th class="col-xs-3">{% trans 'rol' %}</th>
      <th class="col-xs-3"></th>
    </tr>
  </thead>
  <tbody>
  {% for rol in employee_roles %}
    <tr>
      <td>{{rol.projectDepartment.department.name}}</td>
      <td>{{rol.projectDepartment.project.name}}</td>
      <td>{{rol.role_id}}</td>
      <td><div align="right"><a align="right" class="btn btn-primary" href="/rol/update?rol_id={{rol.id}}">{% trans 'update' %}</a>
		<a align="right" class="btn btn-danger" href="/rol/delete?rol_id={{rol.id}}">{% trans 'delete' %}</a></div></td>
    </tr>
	{% endfor %}
	</tbody>
</table>
{% else %}
{% trans 'noRoles' %}
{% endif %}
</div>
</br>
<a class="btn btn-primary" href="/rol/create?employee_id={{employee.id}}">{% trans 'addRole' %}</a>

{% endblock %}