{% extends "layout_base.html" %}
{% load i18n %}
{% load l10n %}

{% block title %}{% trans 'employeeList' %}{% endblock %}
{% block contentTitle %}{% trans 'employeeList' %}{% endblock %}

{% block content %}

<div class="row">
        <div class="col-xs-12">
          <div class="box">
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table id="employeeTable2" class="table table-hover">
              <thead>
                <tr>
                  <th>{% trans 'username' %}</th>
                  <th>{% trans 'identifier' %}</th>
                  <th>{% trans 'phone' %}</th>
                  <th>{% trans 'registryDate' %}</th>
                  <th>{% trans 'actions' %}</th>
                </tr>
              </thead>
              <tbody>
                {% for employee in employees %}
                <tr>
                    <td>{{employee.user}}</td>

                    <td>{{employee.identifier}}</td>

                    <td>{{employee.phone}}</td>

                    <td>{{employee.registryDate}}</td>

                    <td>
                      <a href="/employee/view/{{employee.user}}" type="button" class="btn bg-olive btn-flat">{% trans 'details' %}</a>
                      <a href="/employee/edit/{{employee.user}}" type="button" class="btn bg-orange btn-flat">{% trans 'edit' %}</a>
                      <a href="/employee/delete/{{employee.user}}" type="button" class="btn bg-maroon btn-flat">{% trans 'fire' %}</a>
                    </td>
                </tr>
                {% endfor %}
              </tbody>
              </table>
            </div>
          </div>

                      <a href="/employee/create" type="button" class="btn bg-purple btn-flat">{% trans 'new' %}</a>
        </div>
      </div>

{% endblock %}

{% block javascript %}
{% endblock %}
