{% extends "layout_base.html" %}
{% load i18n %}
{% load l10n %}

{% block title %}{% trans 'employeeList' %}{% endblock %}

{% block content %}

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>{% trans 'employeeList' %}</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>{% trans 'username' %}</th>
            <th>{% trans 'identifier' %}</th>
            <th>{% trans 'phone' %}</th>
            <th>{% trans 'registryDate' %}</th>
            <th>{% trans 'actions' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for employee in employees %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{employee.user}}</td>

            <td>{{employee.identifier}}</td>

            <td>{{employee.phone}}</td>

            <td>{{employee.registryDate}}</td>

            <td>
              <a href="/employee/view/{{employee.user}}" type="button" class="btn btn-success">{% trans 'details' %}</a>
              <a href="/employee/edit/{{employee.user}}" type="button" class="btn btn-dark">{% trans 'edit' %}</a>
              <a onclick="removealert('/employee/delete/{{employee.user}}');" type="button" class="btn btn-default">{% trans 'fire' %}</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>


  <a href="/employee/create" type="button" class="btn btn-dark">{% trans 'new' %}</a>
  </div>

</div>


{% endblock %}

{% block javascript %}
{% endblock %}
