{% load i18n %}
{% load l10n %}
{% load compress %}

<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Metronus</title>
		<meta name="description" content="Metronus, a productivity and profit driven project, where time is the most important variable and the variable which leads you towards success">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<!-- css -->
		{% compress css %}
		<link rel="stylesheet" href="/static/landing/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/landing/css/ionicons.min.css">
		<link rel="stylesheet" href="/static/landing/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/landing/css/owl.carousel.css">
		<link rel="stylesheet" href="/static/landing/css/owl.theme.css">
		<link rel="stylesheet" href="/static/landing/css/owl.transitions.css">
		<link rel="stylesheet" href="/static/landing/css/animate.css">
		<link rel="stylesheet" href="/static/landing/css/custom.css">
		{% endcompress %}

		<!-- Favicon content -->
		<link rel="apple-touch-icon" sizes="180x180" href="/static/landing/img/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/static/landing/img/favicon/android-icon-192x192.png">

		<!-- OpenGraph content -->
		<meta property="og:title" content="Metronus" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://metronus.es" />
		<meta property="og:image" content="/static/landing/img/favicon/android-icon-192x192.png" />
	</head>

	<body>
		<div id="wrapper">
			<div id="overlay-1">
				<section id= "navigation">
					<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  					<div class="container-fluid">
	    					<div class="navbar-header">
	      						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					        		<span class="ion-navicon"></span>
					      		</button>
					      		<a class="navbar-brand" href="#">Metronus</a>
					    	</div>
	    					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      					<ul class="nav navbar-nav navbar-right">
		      						<li><a href="#service">{% trans 'landingService' %}</a></li>
		      						<li><a href="#team">{% trans 'landingTeam' %}</a></li>
		        					<li><a href="#price_table">{% trans 'landingPricing' %}</a></li>
									<li><a href="/contact">{% trans 'landingContact' %}</a></li>
		        					<li><a href="/register">{% trans 'landingRegister' %}</a></li>
		        					<li><a href="/login">{% trans 'landingLogin' %}</a></li>
											<li><a href="#"><img id="flag_es" alt="Spanish" class="img-responsive" src="/static/landing/img/flag_es.png"></a></li>
											<li><a href="#"><img id="flag_en" alt="Spanish" class="img-responsive" src="/static/landing/img/flag_en.png"></a></li>
							    </ul>
	    					</div>	<!-- collapse navbar-collapse -->
	  					</div>	<!-- container-fluid -->
					</nav>	<!-- navbar -->
				</section>	<!-- #navigation -->
				<section id="starting">
					<div class="text-center starting-text">
						<h1 class="rene">METRONUS</h1>
						<h2><i>{% trans 'landingLeitmotiv' %}</i></h2>
						<h2>{% trans 'landingLeitmotivAuthor' %}</h2>
					</div>
				</section>
				<div id="bottom" class="bottom text-center">
			        <a href="#about"><i class="ion-ios7-arrow-down"></i></a>
			    </div>
			</div><!-- overlay-1 -->
		</div>	<!-- wrapper -->

		<!-- Our service -->
		<section id="service">
			<div class="container">
				<div class="row text-center">
        		<div class="col-md-6 col-md-offset-3 wow animated zoomInDown" id= "heading-text-services">
        			<h3>{% trans 'landingService' %}</h3>
                	<p>{% trans 'landingServiceSub' %}</p>
                	<hr class= "full">
                	<br/>
        		</div>
	        </div>
			    <div class="main_content">
				    <div class="services">
			        	<div class="row">
			        		<div class="col-sm-4 service">
			        			<div class="service-icon text-center">
			        				<i class="fa fa-calendar fa-5x"></i>
			        			</div>
			        			<div class="about-service">
			        				<h3 class="text-center">{% trans 'landingTimeControl' %}</h3>
			        				<p class="text-center">
												{% trans 'landingTimeControlDesc' %}
			        				</p>
			        			</div>
			        		</div>	<!-- col-sm-4 -->
			        		<div class="col-sm-4 service">
			        			<div class="service-icon text-center">
			        				<i class="fa fa-area-chart fa-5x"></i>
			        			</div>
			        			<div class="about-service">
			        				<h3 class="text-center">{% trans 'landingProductivity' %}</h3>
			        				<p class="text-center">
												{% trans 'landingProductivityDesc' %}
			        				</p>
			        			</div>
			        		</div>	<!-- col-sm-4 -->
			        		<div class="col-sm-4 service">
			        			<div class="service-icon text-center">
			        				<i class="fa fa-dollar fa-5x"></i>
			        			</div>
			        			<div class="about-service">
			        				<h3 class="text-center">{% trans 'landingProfit' %}</h3>
			        				<p class="text-center">
												{% trans 'landingProfitDesc' %}
			        				</p>
			        			</div>
			        		</div>	<!-- col-sm-4 -->
			        	</div>	<!-- row -->
					</div>	<!-- services -->
				</div>	<!-- main_content -->
			</div>	<!-- container -->
		</section>	<!-- our_service -->

		<!-- Our Team -->
	    <section id="team">
	    	<div class="container">
		    	<div class="team-members">
		    		<div class="row text-center">
		    			<div class="col-md-6 col-md-offset-3 wow animated zoomInDown" id="heading-text-team">
		        			<h3>{% trans 'landingTeam' %}</h3>
		                	<p>{% trans 'landingTeamDesc' %}</p>
		                	<hr class="full">
		                	<br/>
		        		</div>
		    		</div>
			    	<div class="row main_content">
				    	<div class="col-md-4 col-sm-6 text-center">
				    		<div class="row wow animated zoomIn" data-wow-delay="0.1s">
				    			<div class="col-md-8 col-md-offset-2">
				    				<img class="img-circle img-responsive center-block" src="/static/landing/img/team/davsanboi.png" alt="David de los Santos">
				    			</div>
				    		</div>
			        	<h4 class="wow animated fadeInUp" data-wow-delay= "0.2s">David de los Santos</h4>
			        	<p class= "member-title wow animated fadeIn" data-wow-delay= "0.3s">{% trans 'landingTeamProjectManager' %}</p>
				    	</div>	<!-- col-md-4 -->

							<div class="col-md-4 col-sm-6 text-center">
				    		<div class="row wow animated zoomIn" data-wow-delay="0.1s">
				    			<div class="col-md-8 col-md-offset-2">
				    				<img class="img-circle img-responsive center-block" src="/static/landing/img/team/agubordia.png" alt="Agustín Borrego">
				    			</div>
				    		</div>
			        	<h4 class="wow animated fadeInUp" data-wow-delay= "0.2s">Agustín Borrego</h4>
			        	<p class= "member-title wow animated fadeIn" data-wow-delay= "0.3s">{% trans 'landingTeamCoordBackend' %}</p>
				    	</div>	<!-- col-md-4 -->

							<div class="col-md-4 col-sm-6 text-center">
				    		<div class="row wow animated zoomIn" data-wow-delay="0.1s">
				    			<div class="col-md-8 col-md-offset-2">
				    				<img class="img-circle img-responsive center-block" src="/static/landing/img/team/josrenram.png" alt="José Renato Ramos">
				    			</div>
				    		</div>
			        	<h4 class="wow animated fadeInUp" data-wow-delay= "0.2s">José Renato Ramos</h4>
			        	<p class= "member-title wow animated fadeIn" data-wow-delay= "0.3s">{% trans 'landingTeamCoordFrontend' %}</p>
				    	</div>	<!-- col-md-4 -->

							<div class="col-md-4 col-sm-6 text-center">
				    		<div class="row wow animated zoomIn" data-wow-delay="0.1s">
				    			<div class="col-md-8 col-md-offset-2">
				    				<img class="img-circle img-responsive center-block" src="/static/landing/img/team/anddonram.png" alt="Andrés Doncel">
				    			</div>
				    		</div>
			        	<h4 class="wow animated fadeInUp" data-wow-delay= "0.2s">Andrés Doncel</h4>
			        	<p class= "member-title wow animated fadeIn" data-wow-delay= "0.3s">{% trans 'landingTeamDevBackend' %}</p>
				    	</div>	<!-- col-md-4 -->

							<div class="col-md-4 col-sm-6 text-center">
				    		<div class="row wow animated zoomIn" data-wow-delay="0.1s">
				    			<div class="col-md-8 col-md-offset-2">
				    				<img class="img-circle img-responsive center-block" src="/static/landing/img/team/josgavrui.png" alt="José Gavilán">
				    			</div>
				    		</div>
			        	<h4 class="wow animated fadeInUp" data-wow-delay= "0.2s">José Gavilán</h4>
			        	<p class= "member-title wow animated fadeIn" data-wow-delay= "0.3s">{% trans 'landingTeamDevFrontend' %}</p>
				    	</div>	<!-- col-md-4 -->

							<div class="col-md-4 col-sm-6 text-center">
				    		<div class="row wow animated zoomIn" data-wow-delay="0.1s">
				    			<div class="col-md-8 col-md-offset-2">
				    				<img class="img-circle img-responsive center-block" src="/static/landing/img/team/alvgonsie.png" alt="Álvaro González">
				    			</div>
				    		</div>
			        	<h4 class="wow animated fadeInUp" data-wow-delay= "0.2s">Álvaro González</h4>
			        	<p class= "member-title wow animated fadeIn" data-wow-delay= "0.3s">{% trans 'landingTeamDevBackend' %}</p>
				    	</div>	<!-- col-md-4 -->

							<div class="col-md-4 col-sm-6 text-center">
				    		<div class="row wow animated zoomIn" data-wow-delay="0.1s">
				    			<div class="col-md-8 col-md-offset-2">
				    				<img class="img-circle img-responsive center-block" src="/static/landing/img/team/josjimjim.png" alt="José María Jiménez">
				    			</div>
				    		</div>
			        	<h4 class="wow animated fadeInUp" data-wow-delay= "0.2s">José María Jiménez</h4>
			        	<p class= "member-title wow animated fadeIn" data-wow-delay= "0.3s">{% trans 'landingTeamDevBackend' %}</p>
				    	</div>	<!-- col-md-4 -->

							<div class="col-md-4 col-sm-6 text-center">
				    		<div class="row wow animated zoomIn" data-wow-delay="0.1s">
				    			<div class="col-md-8 col-md-offset-2">
				    				<img class="img-circle img-responsive center-block" src="/static/landing/img/team/andjimrio.png" alt="Andrés Jiménez">
				    			</div>
				    		</div>
			        	<h4 class="wow animated fadeInUp" data-wow-delay= "0.2s">Andrés Jiménez</h4>
			        	<p class= "member-title wow animated fadeIn" data-wow-delay= "0.3s">{% trans 'landingTeamDevFrontend' %}</p>
				    	</div>	<!-- col-md-4 -->

							<div class="col-md-4 col-sm-6 text-center">
				    		<div class="row wow animated zoomIn" data-wow-delay="0.1s">
				    			<div class="col-md-8 col-md-offset-2">
				    				<img class="img-circle img-responsive center-block" src="/static/landing/img/team/jualiefer.png" alt="Juan Carlos Liébana">
				    			</div>
				    		</div>
			        	<h4 class="wow animated fadeInUp" data-wow-delay= "0.2s">Juan Carlos Liébana</h4>
			        	<p class= "member-title wow animated fadeIn" data-wow-delay= "0.3s">{% trans 'landingTeamDevFrontend' %}</p>
				    	</div>	<!-- col-md-4 -->

							<div class="col-md-4 col-sm-6 text-center">
				    		<div class="row wow animated zoomIn" data-wow-delay="0.1s">
				    			<div class="col-md-8 col-md-offset-2">
				    				<img class="img-circle img-responsive center-block" src="/static/landing/img/team/josrojvid.png" alt="José Antonio Rojo">
				    			</div>
				    		</div>
			        	<h4 class="wow animated fadeInUp" data-wow-delay= "0.2s">José Antonio Rojo</h4>
			        	<p class= "member-title wow animated fadeIn" data-wow-delay= "0.3s">{% trans 'landingTeamDevBackend' %}</p>
				    	</div>	<!-- col-md-4 -->
			    	</div> <!-- row main_content -->
			    </div>	<!-- team-members -->
			</div>	<!-- container -->
	    </section>	<!-- team -->

		<!-- Price-Table -->
	    <section id="price_table">
	    	<div class="container">
	    		<div class="row text-center">
	    			<div class="col-md-6 col-md-offset-3 wow animated zoomInDown" id="heading-text-pricing">
	        			<h3>{% trans 'landingPriceTable' %}</h3>
	                	<p>{% trans 'landingPriceTableDesc' %}</p>
	                	<hr class="full">
	                	<br/>
	        		</div>
	    		</div>	<!-- row -->
	    		<div class="row main_content">
	    			<ul class="price-table-chart">
                        <li>
		                    <a href="/register">
		                        <strong>{% trans 'landingPriceFree' %}</strong>
		                        <span class="price_table-description">{% trans 'landingPricingEmployees' %}</span>
		                        <span class="price_table-description">{% trans 'landingPricingProductivity' %}</span>
		                        <span class="price_table-description">{% trans 'landingPricingProfit' %}</span>
		                        <big class="price_table-price">0 €</big>
		                        <span class="price_table-button">{% trans 'landingPricingTryNow' %}</span>
		                    </a>
		                </li>

		                <li>
		                    <a href="/register">
		                        <strong>{% trans 'landingPricingBusiness' %}</strong>
														<span class="price_table-description">{% trans 'landingPricingEmployeesBusiness' %}</span>
		                        <span class="price_table-description">{% trans 'landingPricingProductivity' %}</span>
		                        <span class="price_table-description">{% trans 'landingPricingProfit' %}</span>
		                        <big class="price_table-price">3 €</big>
		                        <span class="price_table-button">{% trans 'landingPricingBuyNow' %}</span>
		                    </a>
		                </li>
		            </ul>
	    		</div>	<!-- row main_content -->
	    	</div>	<!-- container -->
	    </section>	<!-- price_table -->


		<!-- js -->
		{% compress js %}
		<script src="/static/landing/js/jquery.min.js"></script>
		<script src="/static/landing/js/bootstrap.min.js"></script>
		<script src="/static/landing/js/owl.carousel.min.js"></script>
		<script src="/static/landing/js/script.js"></script>
		<script src="/static/landing/js/cookies.min.js"></script>
		<script src="/static/landing/js/wow.min.js"></script>
		<script src="/static/landing/js/jquery.actual.min.js"></script>
		{% endcompress %}

		<script>
			$( document ).ready(function() {
				new WOW().init();

				$("#flag_es").click(function() {
					Cookies.set('lang', 'es-es');
					location.reload(true);
				});

				$("#flag_en").click(function() {
					Cookies.set('lang', 'en-us');
					location.reload(true);
				});
			});
		</script>
	</body>
</html>
