{% load i18n %}
{% load l10n %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

	<!-- Bootstrap zone -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<!-- Bootstrap end -->

	<!-- Element zone -->
  	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
	<!-- Element end -->

	<title>
		{% block title %}{% endblock %}
	</title>
</head>

<body>
	<div id="metronus-app">

	<!-- Django's templates example -->
	<div class="container">
		{% block content %}{% endblock %}
	</div>


	<!-- Boostrap example -->
	<div>
		<div class="pager panel-footer">
			<p>Metronus - <strong>${currentTime}</strong>.</p>
		</div>
	</div>

	</div>


	<script type="text/javascript">var lang = "{% trans 'lang' %}"</script>

	<!-- Vue Zone -->
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<!-- Vue end -->
	<!-- Element zone-->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<script src="/static/app.js"></script>
	<!-- Element end -->
	<!-- jQuery zone -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- jQuery end -->
	<!-- Bootstrap zone -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- Bootstrap end -->

</body>

</html>
