{% extends "anon_master.html" %}
{% load i18n %}
{% load l10n %}


{% block title %}{% trans 'login' %}{% endblock %}


{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<body class="login">
  <div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content">
          <form id="login_form" method="POST" action="" accept-charset="utf-8">
            {% csrf_token %}
            <h1>Login Form</h1>
            <div>
              <input type="text" for="id_{{ form.username.name }}" class="form-control" placeholder="Username" required="" name="{{ form.username.name }}"  id="id_{{ form.username.name }}"/>
            </div>
            <div>
              <input type="password" for="id_{{ form.password.name }}" class="form-control" placeholder="Password" required="" name="{{ form.password.name }}" id="id_{{ form.password.name }}"/>
            </div>
            <div>
              <button type="submit" class="btn btn-default submit">{% trans 'login' %}</button>
              <button type="button" class="btn btn-warning submit">{% trans 'recover_password' %}</button>
            </div>

            <div class="separator">
              <p class="change_link">New to site?
                <a href="/register" class="to_register"> Create Account </a>
              </p>
            </div>
          </form>
        </section>
        {% if form.errors %}
          <div class="clearfix"></div>

          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Error!</strong> {{ form.non_field_errors }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</body>
{% endblock %}
