{% extends "layout_base.html" %}
{% load i18n %}
{% load l10n %}
{% block title %}
{% if  form.department_id.value == 0 %}
{% trans 'addRole' %}
{% else %}
{% trans 'editRole' %}
{% endif %}
{% endblock %}

{% block content %}
{% if  form.department_id.value == 0 %}
<h1> {% trans 'addRole' %} </h1></br>
{% else %}
<h1> {% trans 'editRole' %} </h1></br>
{% endif %}
    <form id="form" method="POST" action="">{% csrf_token %}
	    {{form.as_p}}
	    </br>
	    <p><input type="submit" value="{% trans 'confirm' %}" /></p>
    </form>

{% endblock %}