{% extends "layout_base.html" %}
{% load i18n %}
{% load l10n %}
{% if  LANGUAGE_CODE == en %}
{% block title %}{{employee.name}}{% trans 'profile' %}{% endblock %}
{% else %}
{% if  LANGUAGE_CODE == es %}
{% block title %}{% trans 'profile' %}{{employee.name}}{% endblock %}
{% endif %}
{% endif %}

{% if  LANGUAGE_CODE == en %}
<h1>{{employee.name}}{% trans 'profile' %}</h1>
{% else %}
{% if  LANGUAGE_CODE == es %}
<h1>{% trans 'profile' %}{{employee.name}}</h1>
{% endif %}
{% endif %}

<div>
	{# Información de la persona #}
</div>
<div>
	{# ¿Foto? #}
</div>
<div>

<table>
  <thead class="table">
    <tr>
      <th class="col-xs-4">{% trans 'department' %}</th>
      <th class="col-xs-4">{% trans 'project' %}</th>
      <th class="col-xs-4"></th>
    </tr>
  </thead>
  <tbody>
  {% for rol in employee.roles %}
    <tr>
      <td>{{rol.department.name}}</td>
      <td>{{rol.project.name}}</td>
      <td><div align="right"><a align="right" class="btn btn-primary" href="/rol/update?rol_id={{rol.id}}">{% trans 'update' %}</a>
		<a align="right" class="btn btn-danger" href="/rol/delete?rol_id={{rol.id}}">{% trans 'delete' %}</a></div></td>
    </tr>
	{% endfor %}
	</tbody>
</table>

<a class="btn btn-primary" href="/{{LANGUAGE_CODE}}/rol/create?employee_id={{employee.id}}">{% trans 'addRole' %}</a>

{% endblock %}
