{% extends "layout_base.html" %}
{% load i18n %}
{% load l10n %}

{% block title %}{% trans 'projectList' %}{% endblock %}

{% block content %}
    <ul class="list-group">
    {% for project in projects %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-6">
                    {{project.name}}
                </div>
                <div class="col-xs-6">
                    <div class="pull-right">
                        <a class="btn btn-primary" href="{% url 'project_edit' project.id %}">{% trans 'update' %}</a>
                        <a class="btn btn-danger" href="{% url 'project_delete' project.id %}">{% trans 'delete' %}</a>
                    </div>
                </div>
            </div>
        </li>

    {% endfor %}
    </ul>

    <a class="btn btn-primary" href="{% url 'project_create' %}">{% trans 'create' %}</a>
{% endblock %}