{% extends "layout_base.html" %}
{% load i18n %}
{% load l10n %}

{% block title %}
    {% trans 'createTask' %}
{% endblock %}
{% block contentTitle %}
    {% trans 'createTask' %}
{% endblock %}

{% load static }

{% block javascript %}

<script>

  //Esto es para validar en cliente de forma bonita con bootstrap :)

  $(document).ready(function() {
    $('#register_form').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
          	name: {
                validators: {
                    notEmpty: {
                        message: "{% trans 'taskName_not_empty'%}"
                    },
                },
            },
            description: {
                validators: {
                    notEmpty: {
                        message: "{% trans 'description_not_empty' %}"
                    }
                }
            }
        }
    })

    // Falta poner URL
    var dep_select = $("#id_{{ form.department_id.name }}")
    $("#id_{{ form.project_id.name }}").change(function () {
        $.get({
            url: "",
            data: {project_id: this.val()},
            success: function ( data )  {
                dep_select.empty()
                dep_select.append($("<option value='' selected>{% trans 'selectProject' %}</option>"))
                data.forEach(function (department) {
                    dep_select.append($('<option value="'+department.id+'">'+department.name+'</option>'))
                })                
            }
        })
    })
  });
  function ajax(){
    $.post('/task/createAsync', $('#register_form').serialize(), function(data, status){
        document.getElementById('register_form').reset();
        $("#register_form").data('bootstrapValidator').resetForm();
        console.log(data)
        if(JSON.stringify(data['success'])=="true"){
            $('#errorDiv').attr('hidden', true);
            $('#error2Div').attr('hidden', true);
            $('#successDiv').attr('hidden', false).html("<strong>{% trans 'success' %} | </strong>{% trans 'taskSaved' %}");
        }else if(JSON.stringify(data['repeated_name'])=="true"){
            $('#successDiv').attr('hidden', true);
            $('#error2Div').attr('hidden', true);
            $('#errorDiv').attr('hidden', false).html("<strong>{% trans 'fail' %} | </strong>{% trans 'taskName' %}");
        }else{
            $('#successDiv').attr('hidden', true);
            $('#error2Div').attr('hidden', true);
            $('#errorDiv').attr('hidden', false).html("<strong>{% trans 'fail' %} | </strong>{% trans 'taskError' %}"); 
        }
        
    });
};
</script>
{% endblock %}

{% block content %}

{% if form.errors %}
        <p>{{ form.errors }}</p>
{% endif %}

        <div id="successDiv" class="alert alert-success" hidden='true'>
            </div>
        <div id="errorDiv" class="alert alert-danger"  hidden='true'>
            </div>
    
{% if  repeated_name == True %}
    <div id="error2Div" class="alert alert-danger">
        <strong>{% trans 'fail' %} | </strong>{% trans 'taskName' %}
    </div>
{% endif %}
{% if  project_department_related == False %}
    <div id="error2Div" class="alert alert-danger">
        <strong>{% trans 'fail' %} | </strong>{% trans 'taskRelation' %}
    </div>
{% endif %}


<div class="row">

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>{% trans 'createTask' %}</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

    <form id="register_form" method="POST" action="" class="form-horizontal" align="center">{% csrf_token %}
    <div class="form-group" >
        <label class="control-label col-sm-4" for="id_{{ form.name.name }}">{% trans 'name' %}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control col-md-6" name="{{ form.name.name }}" id="id_{{ form.name.name }}" value="{{ form.name.value }}" required>
        </div>
    </div>

    <div class="form-group" >
        <label class="control-label col-sm-4" for="id_{{ form.description.name }}">{% trans 'description' %}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control col-md-6" name="{{ form.description.name }}" id="id_{{ form.description.name }}" value="{{ form.description.value }}" required>
        </div>
    </div>

    <div class="form-group" >
        <label class="control-label col-sm-4" for="id_{{ form.project_id.name }}">{% trans 'project' %}</label>
        <div class="col-sm-6">
        <select class="form-control" name="{{ form.project_id.name }}" id="id_{{ form.project_id.name }}" required>
                <option value="" selected>{% trans 'selectProject' %}</option>
                {% for project in projects %}
                <option value="{{ project.id }}">{{ project.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group" >
        <label class="control-label col-sm-4" for="id_{{ form.department_id.name }}">{% trans 'department' %}</label>
        <div class="col-sm-6">
            <select class="form-control" name="{{ form.department_id.name }}" id="id_{{ form.department_id.name }}" required>
                <option value="" selected>{% trans 'selectDepartment' %}</option>
            </select>
        </div>
    </div>

    <div class="form-group" >
        <label class="control-label col-sm-4" for="id_{{ form.production_goal.name }}">{% trans 'production_goal' %}</label>
        <div class="col-sm-6">
            <input type="number" class="form-control col-md-6" name="{{ form.production_goal.name }}" id="id_{{ form.production_goal.name }}" value="{{ form.production_goal.value }}">
        </div>
    </div>

    <div class="form-group" >
        <label class="control-label col-sm-4" for="id_{{ form.goal_description.name }}">{% trans 'goal_description' %}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control col-md-6" name="{{ form.goal_description.name }}" id="id_{{ form.goal_description.name }}" value="{{ form.goal_description.value }}">
        </div>
    </div>

    {{form.task_id}}



    </br>
        <div align="center" >
            <button type="submit" class="btn btn-success submit-button" >{% trans 'confirm' %}</button>
            {% if  request.path == '/task/create'%}
                <input type="button" class="btn btn-success submit-button" value="{% trans 'taskAdd' %}" onclick="ajax();" />
            {% endif %}
        </div>
</form>

 </div>
 </div>
 </div>
 </div>
{% endblock %}
