{% extends "layout_base.html" %}
{% load i18n %}
{% load l10n %}
{% block title %}{% trans 'task' %}: {{ task.name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="page-title">
        <div class="title_left">
            <h3><strong>{% trans 'task' %}: </strong> {{ task.name }}</h3>
        </div>

        <div class="clearfix"></div><br>


        <div class="">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="row x_title">
                        <div class="col-md-6">
                            <h2>{% trans 'datePicker' %}</h2>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <fieldset>
                                    <div class="control-group">
                                        <div class="controls">
                                            <div class="input-prepend input-group">
                                                <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                                <input type="text" style="width: 200px" name="task_chart" id="task_chart" class="form-control" value="" />
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="x_content row">
                        <div id="task" style="height:350px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}



<script>
    function fromData(names, data) {
        return {
            title: {
                text: 'Line Graph',
                subtext: 'Subtitle'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                x: 220,
                y: 40,
                data: names
            },
            toolbox: {
                show: true,
                feature: {
                    magicType: {
                        show: true,
                        title: {
                            line: 'Line',
                            bar: 'Bar',
                            stack: 'Stack',
                            tiled: 'Tiled'
                        },
                        type: ['line', 'bar', 'stack', 'tiled']
                    },
                    restore: {
                        show: true,
                        title: "Restore"
                    },
                    saveAsImage: {
                        show: true,
                        title: "Save Image"
                    }
                }
            },
            calculable: true,
            xAxis: [{
                type: 'category',
                boundaryGap: false,
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
            }],
            yAxis: [{
                type: 'value'
            }],
            series: [{
                name: names[0],
                type: 'line',
                smooth: true,
                itemStyle: {
                    normal: {
                        areaStyle: {
                            type: 'default'
                        }
                    }
                },
                data: data.productivity
            }, {
                name: names[1],
                type: 'line',
                smooth: true,
                itemStyle: {
                    normal: {
                        areaStyle: {
                            type: 'default'
                        }
                    }
                },
                data: data.goal_evolution
            }]
        };
    }

    $(document).ready(function() {
        names = ['Intent', 'Pre-order'];
        data = {'productivity': [30, 182, 434, 791, 390, 30, 10], 'goal_evolution': [0, 1132, 601, 234, 120, 90, 20] };

        echartLine = echarts.init(document.getElementById('task'), theme);
        echartLine.setOption( fromData( names, data ) );

        defaultRange = moment().startOf('month').format('MM/DD/YYYY') +' - '+ moment().endOf('month').format('MM/DD/YYYY')
        $('input[name="task_chart"]').val(defaultRange)

        $('input[name="task_chart"]').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: '{% trans 'default' %}',
                applyLabel: '{% trans 'apply' %}'
            }
        });

        $('input[name="task_chart"]').on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
            $.get({
                url: "{% url 'productivity_per_task' %}",
                data: {
                    task_id: {{ task.id }},
                    start_date: picker.startDate.format('YYYY-MM-DD'),
                    end_date: picker.endDate.format('YYYY-MM-DD')
                },
                success: function ( backendData )  {
                    echartLine.setOption( fromData( names, backendData ) );
                }
            });
        });

        $('input[name="task_chart"]').on('cancel.daterangepicker', function(ev, picker) {
            $(this).val(defaultRange);
            echartLine.setOption( fromData( names, data ) );
        });
    });
</script>
{% endblock %}