{% extends "layout_base.html" %}
{% load i18n %}
{% load l10n %}

{% block title %}{% trans 'taskList' %}{% endblock %}
{% block contentTitle %}{% trans 'taskList' %}{% endblock %}

{% block content %}

<div class="row">
        <div class="col-xs-12">
          <div class="box">
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
              <thead>
                <tr>
                  <th>{% trans 'task' %}</th>
                  <th>{% trans 'projectDeparment' %}</th>
                  <th>{% trans 'creationDate' %}</th>
                  <th>{% trans 'creator' %}</th>
                  <th>{% trans 'actions' %}</th>
                </tr>
              </thead>
              <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{task.name}}</td>

                    <td>{{task.projectDepartment_id}}</td>

                    <td>{{task.actor_id}}</td>

                    <td>{{task.registryDate}}</td>

                    <td>
                      <a href="{% url 'task_edit' task.id %}" type="button" class="btn btn-primary">{% trans 'edit' %}</a>
                      <a class="btn btn-danger" onclick="removealert('{% url 'task_delete' task.id %}');">
                          {% trans 'delete' %}
                      </a>
                      <a href="{% url 'timeLog_list' task.id %}" type="button" class="btn btn-info">{% trans 'timeLog' %}</a>


                    </td>
                </tr>
                {% endfor %}
              </tbody>
              </table>
            </div>
          </div>

                      <a href="/task/create" type="button" class="btn bg-purple btn-flat">{% trans 'new' %}</a>
        </div>
      </div>

{% endblock %}

{% block javascript %}
{% endblock %}
