{% extends "layout_base.html" %}
{% load i18n %}
{% load l10n %}

{% block title %}
    {% if  request.path == '/task/create'%}{% trans 'createTask' %}{% endif %}{% if  request.path == '/task/edit'%}{% trans 'editTask' %}{% endif %}
{% endblock %}
{% block contentTitle %}
    {% if  request.path == '/task/create'%}{% trans 'createTask' %}{% endif %}{% if  request.path == '/task/edit'%}{% trans 'editTask' %}{% endif %}
{% endblock %}

{% load static }

{% block javascript %}
{% load custom_tags %}
<script>

  //Esto es para validar en cliente de forma bonita con bootstrap :)

  $(document).ready(function() {
    
    var dep_select = $("#id_{{ form.department_id.name }}")
    {% if  form.department_id.value is not None %}
        var p_id=0
        {% if  form.project_id.value is not None %}
            p_id={{form.project_id.value }}
        {% endif %}

            $.get({
                url: "/task/getdepartments",
                data: {project_id: p_id},
                success: function ( data )  {
                    console.log(JSON.stringify(data))
                    dep_select.empty()
                    dep_select.append($('<option value="" selected>{% trans "selectDepartment" %}</option>)'))
                    data.forEach(function (department) {
                        console.log(department.pk+", "+'{{form.department_id.value}}')
                        dep_select.append($('<option value="'+department.pk+'">'+department.fields.name+'</option>'))

                    })
                    dep_select.val("{{ form.department_id.value }}").attr('selected','selected')
                }
            });
    {% endif %}

    // Carga el select de departamentos con los correspondientes al proyecto seleccionado
    var proj_select = $("#id_{{ form.project_id.name }}")

    proj_select.change(function () {
        console.log(proj_select.val())
        $.get({
            url: "/task/getdepartments",
            data: {project_id: proj_select.val()},
            success: function ( data )  {
                console.log(JSON.stringify(data))
                dep_select.empty()
                dep_select.append($("<option value='' selected>{% trans 'selectDepartment' %}</option>"))
                data.forEach(function (department) {
                    dep_select.append($('<option value="'+department.pk+'">'+department.fields.name+'</option>'))
                })                
            }
        })
    })

    $('#register_form').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                validators: {
                    notEmpty: {
                        message: "{% trans 'taskName_not_empty'%}"
                    },
                },
            },
            description: {
                validators: {
                    notEmpty: {
                        message: "{% trans 'description_not_empty' %}"
                    }
                }
            },
            price_per_hour: {
                validators: {
                    numeric: {
                        thousandsSeparator: '',
                        decimalSeparator: '.'
                    }
                }
            },
            price_per_unit: {
                validators: {
                    numeric: {
                        thousandsSeparator: '',
                        decimalSeparator: '.'
                    }
                }
            },
            production_goal: {
                validators: {
                    numeric: {
                        thousandsSeparator: '',
                        decimalSeparator: '.'
                    }
                }
            }
        }
    })

  });
  function ajax(){
    $.post('/task/createAsync', $('#register_form').serialize(), function(data, status){
        if(data['success']){
            document.getElementById('register_form').reset();
            $("#register_form").data('bootstrapValidator').resetForm();
            $('#errorDiv').hide();
            $('#successDiv').hide();
            $('#successDiv').fadeIn().html("<strong>{% trans 'success' %} | </strong>{% trans 'taskSaved' %}");
        }else{
            $('#errorDiv').hide();
            $('#successDiv').hide();
            $('#errorDiv').fadeIn().html("");
            for(var i=0;i<data['errors'].length;i++){
                var err = data['errors'][i];
                
                //cannot pass the errors the directly, so we must check each one
                if(err=='task_creation_invalid_goal'){
                    $('#errorDiv').append("<p><strong>{% trans 'fail' %} | </strong>{% trans 'task_creation_invalid_goal' %}</p>");
                }else if(err=='task_creation_invalid_price'){
                    $('#errorDiv').append("<p><strong>{% trans 'fail' %} | </strong>{% trans 'task_creation_invalid_price' %}</p>");
                }else if(err=='task_creation_project_department_not_related'){
                    $('#errorDiv').append("<p><strong>{% trans 'fail' %} | </strong>{% trans 'task_creation_project_department_not_related' %}</p>");
                }else if(err=='task_creation_repeated_name'){
                    $('#errorDiv').append("<p><strong>{% trans 'fail' %} | </strong>{% trans 'task_creation_repeated_name' %}</p>");
                } else if (err == 'task_creation_error') {
                    $('#errorDiv').append("<p><strong>{% trans 'fail' %} | </strong>{% trans 'task_creation_error' %}</p>");
                }
            }

    } 
        
    });
};

$(function() {
    $('.precio').each(function(i) {
          $(this).val($(this).attr("value").replace(",", "."));
      });
});

</script>
{% endblock %}

{% block content %}

{% if form.errors %}
        <p>{{ form.errors }}</p>
{% endif %}
<div class="clearfix"></div>

<div id="successDiv" class="alert alert-success" hidden='true'></div>
<div id="errorDiv" class="alert alert-danger" hidden='true'>
{% if errors %}
    {% for err in errors%}
        <p><strong>{% trans 'fail' %} | </strong>{% trans err %}</p>
    {% endfor %}
{% endif %}
 </div>

<div class="row">

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>{% if  request.path == '/task/create'%}{% trans 'createTask' %}{% endif %}{% if  request.path == '/task/edit'%}{% trans 'editTask' %}{% endif %}</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

    <form id="register_form" method="POST" action="" class="form-horizontal" align="center">{% csrf_token %}
    <div class="form-group" >
        <label class="control-label col-sm-4" for="id_{{ form.name.name }}">{% trans 'name' %} *</label>
        <div class="col-sm-6">
            <input type="text" class="form-control col-md-6" name="{{ form.name.name }}" id="id_{{ form.name.name }}" value="{{ form.name.value }}" required>
        </div>
    </div>

    <div class="form-group" >
        <label class="control-label col-sm-4" for="id_{{ form.description.name }}">{% trans 'description' %} *</label>
        <div class="col-sm-6">
            <input type="text" class="form-control col-md-6" name="{{ form.description.name }}" id="id_{{ form.description.name }}" value="{{ form.description.value }}" required>
        </div>
    </div>

    <div class="form-group" >
        <label class="control-label col-sm-4" for="id_{{ form.project_id.name }}">{% trans 'project' %} *</label>
        <div class="col-sm-6">
        <select class="form-control" name="{{ form.project_id.name }}" id="id_{{ form.project_id.name }}" required>
                {% if  form.task_id.value == '0' or form.project_id.value == '0' %}
                    <option value="" {% if form.project_id.value is None %}selected{% endif %}>{% trans 'selectProject' %}</option>
                {% endif %}
                {% for project in projects %}
                <!-- slugify pasa de int a string, porque value es un string e id es un int y no son iguales-->
                <option value="{{ project.id }}" {% if form.project_id.value == project.id|slugify %}selected{% endif %}>
                {{ project.name }}
                </option>

                {% endfor %}

            </select>
        </div>
    </div>

    <div class="form-group" >
        <label class="control-label col-sm-4" for="id_{{ form.department_id.name }}">{% trans 'department' %} *</label>
        <div class="col-sm-6">
            <select class="form-control" name="{{ form.department_id.name }}" id="id_{{ form.department_id.name }}" required>
            {% if  form.task_id.value == '0' %}
                <option value="" >{% trans 'selectDepartment' %}</option>
            {% endif %}
            
            </select>
        </div>
    </div>

    <div class="form-group" >
        <label class="control-label col-sm-4" for="id_{{ form.production_goal.name }}">{% trans 'production_goal' %}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control col-md-6 precio" name="{{ form.production_goal.name }}" id="id_{{ form.production_goal.name }}" value="{{ form.production_goal.value|floatformat:2 }}">
        </div>
    </div>

    <div class="form-group" >
        <label class="control-label col-sm-4" for="id_{{ form.goal_description.name }}">{% trans 'goal_description' %}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control col-md-6" name="{{ form.goal_description.name }}" id="id_{{ form.goal_description.name }}" value="{{ form.goal_description.value }}">
        </div>
    </div>
    <div class="form-group" >
        <label class="control-label col-sm-4" for="id_{{ form.price_per_unit.name }}">{% trans 'price_per_unit' %}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control col-md-6 precio" name="{{ form.price_per_unit.name }}" id="id_{{ form.price_per_unit.name }}" value="{{ form.price_per_unit.value|floatformat:2 }}">
        </div>
    </div>
  <div class="form-group" >
        <label class="control-label col-sm-4" for="id_{{ form.price_per_hour.name }}">{% trans 'price_per_hour' %}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control col-md-6 precio" name="{{ form.price_per_hour.name }}" id="id_{{ form.price_per_hour.name }}" value="{{ form.price_per_hour.value|floatformat:2 }}">
        </div>
    </div>

    <!--this is the hidden input for task id, do not remove!!! -->
    {{form.task_id}}

    </br>
    <div class="col-sm-4" ></div>
        <div class="col-sm-6" align="center" >
        <a class="btn btn-danger" href="{% url 'task_list' %}">{% trans 'cancel' %}</a>
            {% if  form.task_id.value == '0' %}
            <button type="submit" class="btn btn-success submit-button" >{% trans 'confirm' %}</button>
                <input type="button" class="btn btn-info submit-button" value="{% trans 'taskAdd' %}" onclick="ajax();" />
            {% endif %}
            {% if  form.task_id.value != '0' %}
                <button type="submit" class="btn btn-success submit-button" >{% trans 'edit' %}</button>
            {% endif %}

        </div>
    <div class="clearfix"></div>
    <div class="col-sm-4" ></div>
         <p class="help-block">{% trans 'task_creation_help_1' %}</p>
         <p class="help-block">{% trans 'task_creation_help_2' %}</p>
         <p class="help-block">{% trans 'task_creation_help_3' %}</p>
    </div>
</form>

 </div>
 </div>
 </div>
 </div>

{% endblock %}
