{% extends "layout_base.html" %}
{% load i18n %}
{% load l10n %}
{% load static %}
{% load custom_tags %}

{% block title %}{% trans 'editEmployee' %}{% endblock %}
{% block contentTitle %}{% trans 'editEmployee' %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h1 align="center"> {% trans 'editEmployee' %} </h1></br>
        <div class="clearfix"></div>
      </div>

      <div class="x_content">
        <!-- FORM ERRORS -->
        {% for err in errors%}
            <p class="alert alert-danger">{% trans err %}</p>
        {% endfor %}
        <form id="register_form" method="POST" action="" class="form-horizontal" enctype="multipart/form-data">
         {% csrf_token %}

         {% show_field form.first_name      "John" %}
         {% show_field form.last_name       "Doe" %}
         {% show_field form.email           "info@metronus.es" %}
         {% show_field form.identifier      "emply_mtn" %}
         {% show_field form.phone           "666775899" %}
         {% show_field form.price_per_hour  "9.8" %}
         {% show_field form.photo %}
         <div class="form-group required form-class">
           <label class="control-label col-sm-4"></label>
             <div class="col-sm-6">
             {% trans 'change_pic_warning' %}
             </div>
         </div>

         <!-- MOSTRAR FOTO ACTUAL -->
         <div class="form-group required form-class">
           <label class="control-label col-sm-4" for="id_current_picture">{% trans 'current_employee_pic' %}</label>
           <div class="col-sm-6">
             {% if picture %}
              <img src="{{ MEDIA_URL }}{{picture}}" style="max-height: 120px; max-width: auto;">
             {% else %}
              {% trans 'none' %}
             {% endif %}
           </div>
         </div>

         <div class="form-group control-buttons">
           <div class="text-center">
             {% if username %}
               <a class="btn btn-danger" href="{% url 'employee_view' username %}">{% trans 'cancel' %}</a>
              {% else %}
                <a class="btn btn-danger" href="{% url 'employee_list' %}">{% trans 'cancel' %}</a>
              {% endif %}


             <button type="submit" class="btn btn-success submit-button" >{% trans 'confirm' %}</button>
           </div>
         </div>
       </div>
      </form>
    </div>
   </div>
 </div>
{% endblock %}

{% block javascript %}
<script>
  $(function() {
    $(".btn-file span").text("{% trans 'browseFile' %}");
    
    $(':input[type="number"]').each(function(i) {
      $(this).val($(this).attr("value").replace(",", "."));
    });
  });
</script>
{% endblock %}
