{% extends "layout_base.html" %}
{% load i18n %}
{% load l10n %}
{% load static %}
{% load custom_tags %}

{% block title %}{% trans 'registerEmployee' %}{% endblock %}
{% block contentTitle %}{% trans 'registerEmployee' %}{% endblock %}

{% block content %}

<div class="clearfix"></div>
  {% for err in errors%}
  <p class="alert alert-danger">{% trans err %}</p>
  {% endfor %}

  {% if success %}
  <p class="alert alert-success"> {% trans 'success' %}</p>
  {% endif %}
  <div id="successDiv" class="alert alert-success" hidden='true'>
                  </div>
  <div id="errorDiv" class="alert alert-danger" hidden='true' >
          </div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>{% trans 'registerEmployee' %}</h2>
        <div class="clearfix"></div>
      </div>
    
      <div class="x_content">

        <form id="register_form" method="POST" class="form-horizontal" data-toggle="validator" role="form" action="" enctype="multipart/form-data">
          {% csrf_token %}

          {% show_field form.username      "johndoe"    "errorUsernameNotUnique" %}
          {% show_field form.password1  %}
          {% show_field form.password2  %}
          {% show_field form.first_name  "John" %}
          {% show_field form.last_name  "Doe" %}
          {% show_field form.email  "johndoe@metronus.es"    "employeeCreation_emailNotUnique" %}
          {% show_field form.phone  "666777888" %}
          {% show_field form.identifier  "j_doe" %}
          {% show_field form.price_per_hour  "9.8" %}
          {% show_field form.photo  %}

          <div class="form-group control-buttons">
            <div class="text-center">
              <a class="btn btn-danger" href="{% url 'employee_list' %}">{% trans 'cancel' %}</a>
              <button type="submit" class="btn btn-success submit-button">{% trans 'register' %}</button>
             
              <a class="btn btn-info" onclick="register_and_continue()">{% trans 'register_and_continue' %}</a>
              
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
 </div>
{% endblock %}

{% block javascript %}

<script>
  function register_and_continue() {
    $.post(
      '{% url 'employee_create_async' %}',
      $('#register_form').serialize(),
      function(data,status) {
         console.log(JSON.stringify(data))
        if(JSON.stringify(data['success'])=="true"){
          document.getElementById('register_form').reset();
          $("#register_form").data('bootstrapValidator').resetForm();
          $('#errorDiv').hide();
          $('#successDiv').fadeIn().html("<strong>{% trans 'success' %} | </strong>{% trans 'employeeSaved' %}");
        } else {
           $('#successDiv').hide();
          for(var i=0;i<data['errors'].length;i++){
            var er=data['errors'][i];
            var tra=null;
            switch(er){
              case 'employeeCreation_passwordsDontMatch':
                tr="{% trans 'employeeCreation_passwordsDontMatch' %}";
                break;
              case 'employeeCreation_usernameNotUnique':
                tr="{% trans 'employeeCreation_usernameNotUnique' %}";
                break;
             case 'employeeCreation_emailNotUnique':
                tr="{% trans 'employeeCreation_emailNotUnique' %}";
                break;
              case 'employeeCreation_imageNotValid':
                tr="{% trans 'employeeCreation_imageNotValid' %}";
                break;
              case 'employeeCreation_priceNotValid':
                tr="{% trans 'employeeCreation_priceNotValid' %}";
                break;
              case 'employeeCreation_formNotValid':
                tr="{% trans 'employeeCreation_formNotValid' %}";
                break;
              default:
                break;
            
            }
              $('#errorDiv').fadeIn().html("<strong>{% trans 'fail' %} | </strong>"+tr);
          }
         
      } 
    });
  };
  //Esto es para validar en cliente de forma bonita con bootstrap :)

  $(document).ready(function() {
    $('#register_form').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
          	username: {
                validators: {
                    notEmpty: {
                        message: "{% trans 'username_not_empty'%}"
                    },
                },
            },
            password1: {
                validators: {
                    notEmpty: {
                        message: "{% trans 'password_not_empty' %}"
                    }
                }
            },
            password2: {
                validators: {
                    notEmpty: {
                        message: "{% trans 'password_not_empty' %}"
                    },
                    callback: {
                    	message: "{% trans 'passwords_must_match'%}",
                    	callback: function(value, validator, $field) {
                    		return value == $("#id_{{ form.password1.name }}").val()
                    	}
                    }
                }
            },
          	first_name: {
                validators: {
                    notEmpty: {
                        message: "{% trans 'name_not_empty'%}"
                    },
                },
            },
          	last_name: {
                validators: {
                    notEmpty: {
                        message: "{% trans 'surname_not_empty'%}"
                    },
                },
            },
            email: {
                validators: {
                    notEmpty: {
                        message: "{% trans 'email_not_empty' %}"
                    },
                    emailAddress: {
                        message: "{% trans 'email_valid' %}"
                    }
                }
            },
            phone: {
                validators: {
                    notEmpty: {
                        message: "{% trans 'phone_not_empty' %}"
                    },
                     regexp:{
                      regexp: /^\d{9}$/ig,
                      message: "{% trans 'phone_valid' %}"
                    },
                }
            },
            identifier: {
                validators: {
                    notEmpty: {
                        message: "{% trans 'identifier_not_empty' %}"
                    }
                }
            },
            price_per_hour: {
                validators: {
                    numeric: {
                        thousandsSeparator: '',
                        decimalSeparator: '.',
                        message: "{% trans 'invalid_number' %}",
                    },
                    notEmpty: {
                        message: "{% trans 'price_per_hour_not_empty' %}"
                    }
                }
            }
        }
    });

    initAjax($("#id_username"), 'username', '/ajax/validate_username/');
    initAjax($("#id_email"), 'email', '/ajax/validate_email_unique/');

   $('button[type="submit"]').click(function (e) {
        var b = $('[data-bv-validator="callback"]')[0]
        if (b.style.display!='none') {
            e.preventDefault();
        }
   })

  });

$(function() {
    $('.precio').each(function(i) {
        $(this).val($(this).attr("value").replace(",", "."));
    });
});
</script>
{% endblock %}
