{% extends "layout_base.html" %}
{% load i18n %}
{% load l10n %}
{% block title %}
{{employee.user}}
{% endblock %}

{% block content %}
<h1>{% trans 'profile' %}</h1>

<div class="row" style="display: flex;">
  <div class="col-md-3 col-xs-12 widget widget_tally_box">
    <div class="x_panel">
      <div class="x_content">

        <div class="flex">
          <ul class="list-inline widget_profile_box">
            <li>
              <a>
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li>
              <img src="/static/avatar.png" class="img-circle profile_img" alt="IMG">
            </li>
            <li>
              <a>
                <i class="fa fa-github"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="name">
          <h3 class="name_title">{{employee.user}}</h3>
          <p>{{employee.identifier}}</p>
        </div>

        <div class="divider"></div>

        <p>
          Some random self description or about section.
        </p>

        <div class="divider"></div>
      </div>

      <div>
        <ul class="list-inline widget_tally">
        <li>
          <b>{% trans 'name' %}</b> <span class="pull-right">{{employee.user.first_name}}</span>
        </li>
        <li>
          <b>{% trans 'surname' %}</b> <span class="pull-right">{{employee.user.last_name}}</span>
        </li>
        <li>
          <b>{% trans 'email' %}</b> <span class="pull-right">{{employee.user.email}}</span>
        </li>
        <li>
          <b>{% trans 'phone' %}</b> <span class="pull-right">{{employee.phone}}</span>
        </li>
        <li>
          <b>{% trans 'roles' %}</b> <span class="pull-right">0</span>
        </li>
        <li>
          <b>{% trans 'projects' %}</b> <span class="pull-right">0</span>
        </li>
        <li>
          <b>{% trans 'departments' %}</b> <span class="pull-right">0</span>
        </li>
        <li style="text-align: center">
          <span>{{employee.registryDate}}</span>
        </li>        
        <li style="text-align: center">
        <span>
            <a href="{% url 'employee_edit' employee.user.username %}" type="button" class="btn btn-primary">
                                        {% trans 'update' %}</a>
        <span>
        </li>
        </div>
        </ul>
    </div>
  </div>


  <div style="flex: 1">


    <div class="x_panel">

      <div>
        <h2 align="center">{% trans 'roles' %}</h2>
        {% if employee_roles %}
        <table align="center" class="table table-striped">
          <thead>
            <tr>
              <th class="col-xs-3">{% trans 'project' %}</th>
              <th class="col-xs-3">{% trans 'department' %}</th>
              <th class="col-xs-3">{% trans 'rol' %}</th>
              <th class="col-xs-3"></th>
            </tr>
          </thead>
          <tbody>
            {% for rol in employee_roles %}
            <tr>
              <td>{{rol.projectDepartment_id.project_id.name}}</td>
              <td>{{rol.projectDepartment_id.department_id.name}}</td>
              <td>{% trans rol.role_id.name %}</td>
              <td><div align="right"><a align="right" class="btn btn-primary" href="/roles/manage?role_id={{rol.id}}">{% trans 'update' %}</a>
                <a href="#" align="right" class="btn btn-danger" data-href="/roles/delete/{{rol.id}}" data-toggle="modal" data-target="#confirm-delete">{% trans 'delete' %}</a>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          {% trans 'noRoles' %}
          {% endif %}
        </div>
      </br>
      <a align="center" class="btn btn-primary" href="/roles/manage?employee_id={{employee.id}}">{% trans 'addRole' %}</a>

      <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              {% trans 'delete' %}
            </div>
            <div class="modal-body">
              {% trans 'roleConfirm' %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'cancel' %}</button>
              <a class="btn btn-danger btn-ok">{% trans 'delete' %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<h3> {% trans 'Productivity' %}</h3>
{#here goes the date picker#}
     <div class="row x_title">
                        <div class="col-md-6">
                            <h2>{% trans 'datePicker' %}</h2>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <fieldset>
                                    <div class="control-group">
                                        <div class="controls">
                                            <div class="input-prepend input-group">
                                                <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                                <input type="text" style="width: 200px" name="task_chart" id="task_chart" class="form-control" value="" />
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
 <div id="task_space">
  {#   here go the tasks, with their total productivities, loads on document ready with an ajax call#}

 </div>

  <div class="x_content row">
   {#  by clicking on the tasks above, a graphic is displayed with the diary productivities #}
    <div id="task" style="height:350px;"></div>
  </div>


    <h3> {% trans 'Profit' %}</h3>
  <!-- Here comes profit graphics-->
      <div class="row x_title">

        <div id="welp3" style="height:350px;"></div>

        <div style="display: flex;/*!  */justify-content: space-around;">
          <form class="form-horizontal">
            <label for"datepickerlabel">{% trans 'datePicker' %}</label>
            <fieldset>
              <div class="control-group">
                <div class="controls">
                  <div class="input-prepend input-group">
                    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                    <input type="text" style="width: 200px" name="employee_profit_chart" id="employee_profit_chart" class="form-control" value=""/>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
          <form class="form-horizontal">
            <label for"datepickerlabel">{% trans 'data_output_to' %}</label>
            <fieldset>
              <div class="control-group">
                <div class="controls">
                  <div class="input-prepend input-group">
                    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-refresh fa fa-refresh"></i></span>

                    <div style="display: table-cell;border-radius: 0px 3px 3px 0px; min-width: 197px" id="switch-acum-button" type="text" class="btn btn-success">{% trans 'cumulative_values' %}</div>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <br/>
      </div>


{% endblock %}
{% block javascript %}

<script>
$('#confirm-delete').on('show.bs.modal', function(e) {
    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
});

       
 function fromData (backendData) {
  dates=backendData["dates"];
  task=backendData["task"]
  //en xAxis data pones lo que va en el eje X (en este caso las fechas)
  //cada dato necesita una serie
  //expected y real productivity, dos series, cada una con un campo data

    return {
        title : {
            text: '{% trans 'productivityGraphic' %}',
            subtext: task["name"]
        },
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data:['Invested time']
        },
        toolbox: {
            show : true,
            feature : {
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        xAxis : [
            {
                type : 'category',
                show : false,
                data : dates
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'{% trans 'expectedProductivity' %}',
                type:'bar',
                data: task["expected_productivity"],
                markPoint : {
                    data : [
                        {type : 'max', name: 'Max'},
                        {type : 'min', name: 'Min'}
                    ]
                },
                markLine : {
                    data : [
                        {type : 'average', name: 'Avg'}
                    ]
                }
            },
            {
                name:'{% trans 'realProductivity' %}',
                type:'bar',
                data: task["real_productivity"],
                markPoint : {
                    data : [
                        {type : 'max', name: 'Max'},
                        {type : 'min', name: 'Min'}
                    ]
                },
                markLine : {
                    data : [
                        {type : 'average', name: 'Avg'}
                    ]
                }
            }
        ]
    }

    function fromProfitData (backendData,acum) {
      dates=backendData["dates"];
      expenses=backendData["expenses"]
      income=backendData["income"]
      subtext='{% trans 'notAcum' %}';
      if(acum){
        subtext='{% trans 'acum' %}';
        expenses=backendData["acumExpenses"];
        income=backendData["acumIncome"];
      }
      //en xAxis data pones lo que va en el eje X (en este caso las fechas)
      //cada dato necesita una serie
      //incomes y expenses, dos series, cada una con un campo data

      return {
        title : {
          text: '{% trans 'emp_profit' %}',
          subtext: subtext
        },
        tooltip : {
          trigger: 'axis'
        },
        legend: {
          data:['Expenses and income']
        },
        toolbox: {
          show : true,
          feature : {
            saveAsImage : {show: true}
          }
        },
        calculable : true,
        xAxis : [
        {
          type : 'category',
          show : false,
          data : dates
        }
        ],
        yAxis : [
        {
          type : 'value'
        }
        ],
        series : [
        {
          name:'{% trans 'expenses' %}',
          type:'line',
          data: expenses,
          markPoint : {
            data : [
            {type : 'max', name: 'Max'},
            {type : 'min', name: 'Min'}
            ]
          },
          markLine : {
            data : [
            {type : 'average', name: 'Avg'}
            ]
          }
        },
        {
          name:'{% trans 'income' %}',
          type:'line',
          data: income,
          markPoint : {
            data : [
            {type : 'max', name: 'Max'},
            {type : 'min', name: 'Min'}
            ]
          },
          markLine : {
            data : [
            {type : 'average', name: 'Avg'}
            ]
          }
        }
        ]
      }

    }

}
//here we save the current task id for reloading purposes
var t_id=0
function ajax_productivity(id) {
  //loads diary productivities for the specified task
  //find the date picker
  picker=$('input[name="task_chart"]').data('daterangepicker');
   // $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
  
  $.get({
    url: '/employee/ajax_productivity_per_task_and_date/{{employee.user.username}}',
    data:{
        task_id:id,
        start_date:picker.startDate.format('YYYY-MM-DD'),
        end_date:picker.endDate.format('YYYY-MM-DD')
     },
    success: function ( backendData )  {
     // console.log(JSON.stringify( backendData ))
      var echartLine = echarts.init(document.getElementById('task'), theme);
      echartLine.setOption( fromData( backendData ) );
      t_id=id;

    /**
     * Esto se encarga de hacer responsivo (más o menos) el chart
     * */
    $(window).on('resize', function(){
        if(echartLine != null && echartLine != undefined){
            echartLine.resize();
        }
    });
    }
  }).fail(function () {
      // Error
  })

}    
$(document).ready(function() {
    //loads all tasks for the employee, with total producitivity
      $.get({
        url: "/employee/ajax_productivity_per_task/{{employee.user.username}}",
        
        success: function ( backendData )  {
          space=document.getElementById('task_space')
          all=""
          
          for (var task in backendData ){
              all+="<div>";
              all+="<input type='button' class='btn btn-success submit-button' value='" + 
              backendData[task]["name"] + "' onclick='ajax_productivity("+task+");' />";
              all+="Expected:"+backendData[task]["expected_productivity"]+";Total:"+
              backendData[task]["total_productivity"]+"";
              all+="</div>";
           }
            space.innerHTML =all 


        defaultRange = moment().startOf('month').format('MM/DD/YYYY') +' - '+ moment().endOf('month').format('MM/DD/YYYY')
        $('input[name="task_chart"]').val(defaultRange)

        $('input[name="task_chart"]').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: '{% trans 'default' %}',
                applyLabel: '{% trans 'apply' %}'
            }
        });
  $('input[name="task_chart"]').on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
      
      $.get({
        url: '/employee/ajax_productivity_per_task_and_date/{{employee.user.username}}',
        data:{
            task_id:t_id,
            start_date:picker.startDate.format('YYYY-MM-DD'),
            end_date:picker.endDate.format('YYYY-MM-DD')
         },
        success: function ( backendData )  {
         // console.log(JSON.stringify( backendData ))
          var echartLine = echarts.init(document.getElementById('task'), theme);
          echartLine.setOption( fromData( backendData ) );

        /**
         * Esto se encarga de hacer responsivo (más o menos) el chart
         * */
        $(window).on('resize', function(){
            if(echartLine != null && echartLine != undefined){
                echartLine.resize();
            }
        });
        }
      }).fail(function () {
          // Error
      });  
        $('input[name="task_chart"]').on('cancel.daterangepicker', function(ev, picker) {
            $(this).val(defaultRange);
        });    
        
      })
    }
});

      ///////////////////////////////////
      // Gráfico de Gastos y Ganancias //
      ///////////////////////////////////



      var useAcum=false;
      var echartLine2 = echarts.init(document.getElementById('welp3'), theme);
      var  defaultProfitBackendData = {'dates':[],'expenses':[],'income':[],'acumExpenses':[],'acumIncome':[]};
      $.get({
        url: "/employee/ajaxProfit/"+ {{user.actor.id}} +"/",
        success: function ( backendData )  {
          defaultProfitBackendData = backendData
          echartLine2.setOption( fromProfitData( backendData,useAcum ) );
        }
      })
      //Date picker for profit
      defaultRange = moment().startOf('month').format('MM/DD/YYYY') +' - '+ moment().endOf('month').format('MM/DD/YYYY')
      $('input[name="employee_profit_chart"]').val(defaultRange)

      $('input[name="employee_profit_chart"]').daterangepicker({
        autoUpdateInput: false,
        locale: {
          cancelLabel: '{% trans 'default' %}',
          applyLabel: '{% trans 'apply' %}'
        }
      });

      $('input[name="employee_profit_chart"]').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        $.get({
          url:"/employee/ajaxProfit/"+ {{user.actor.id}}+ "/" ,
          data: {
            start_date: picker.startDate.format('YYYY-MM-DD'),
            end_date: picker.endDate.format('YYYY-MM-DD')
          },
          success: function ( backendData )  {
            defaultProfitBackendData = backendData
            echartLine2.setOption( fromProfitData( backendData ,useAcum) );
          }
        })
      });

      $('input[name="employee_profit_chart"]').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val(defaultRange);
        echartLine2.setOption( fromProfitData( defaultProfitBackendData,useAcum ) );
      });


      var switcher= $('#switch-acum-button');
      switcher.click(function(){
        useAcum=!useAcum;
        if(useAcum){
          switcher.html("{% trans 'non_cumulative_values' %}")
          echartLine2.setOption( fromProfitData( defaultProfitBackendData ,useAcum) );
        } else {
          switcher.html("{% trans 'cumulative_values' %}")
          echartLine2.setOption( fromProfitData( defaultProfitBackendData ,useAcum) );
        }
      })


});

    </script>


{% endblock %}

