{% extends "layout_base.html" %}
{% load i18n %}
{% load l10n %}
{% block title %}
{{employee.user}}
{% endblock %}

{% block javascript %}

<script>
$('#confirm-delete').on('show.bs.modal', function(e) {
    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
});
</script>
{% endblock %}

{% block content %}
<h1>{% trans 'profile' %}</h1>

<div class="row" style="display: flex;">
  <div class="col-md-3 col-xs-12 widget widget_tally_box">
    <div class="x_panel">
      <div class="x_content">

        <div class="flex">
          <ul class="list-inline widget_profile_box">
            <li>
              <a>
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li>
              <img src="/static/avatar.png" class="img-circle profile_img" alt="IMG">
            </li>
            <li>
              <a>
                <i class="fa fa-github"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="name">
          <h3 class="name_title">{{employee.user}}</h3>
          <p>{{employee.identifier}}</p>
        </div>

        <div class="divider"></div>

        <p>
          Some random self description or about section.
        </p>

        <div class="divider"></div>
      </div>

      <div>
        <ul class="list-inline widget_tally">
        <li>
          <b>{% trans 'name' %}</b> <span class="pull-right">{{employee.user.first_name}}</span>
        </li>
        <li>
          <b>{% trans 'surname' %}</b> <span class="pull-right">{{employee.user.last_name}}</span>
        </li>
        <li>
          <b>{% trans 'email' %}</b> <span class="pull-right">{{employee.user.email}}</span>
        </li>
        <li>
          <b>{% trans 'phone' %}</b> <span class="pull-right">{{employee.phone}}</span>
        </li>
        <li>
          <b>{% trans 'roles' %}</b> <span class="pull-right">0</span>
        </li>
        <li>
          <b>{% trans 'projects' %}</b> <span class="pull-right">0</span>
        </li>
        <li>
          <b>{% trans 'departments' %}</b> <span class="pull-right">0</span>
        </li>
        <li style="text-align: center">
          <span>{{employee.registryDate}}</span>
        </li>
        </div>
        </ul>
    </div>
  </div>


  <div style="flex: 1">


    <div class="x_panel">

      <div>
        <h2 align="center">{% trans 'roles' %}</h2>
        {% if employee_roles %}
        <table align="center" class="table table-striped">
          <thead>
            <tr>
              <th class="col-xs-3">{% trans 'department' %}</th>
              <th class="col-xs-3">{% trans 'project' %}</th>
              <th class="col-xs-3">{% trans 'rol' %}</th>
              <th class="col-xs-3"></th>
            </tr>
          </thead>
          <tbody>
            {% for rol in employee_roles %}
            <tr>
              <td>{{rol.projectDepartment_id.department_id.name}}</td>
              <td>{{rol.projectDepartment_id.project_id.name}}</td>
              <td>{% trans rol.role_id.name %}</td>
              <td><div align="right"><a align="right" class="btn btn-primary" href="/roles/manage?role_id={{rol.id}}">{% trans 'update' %}</a>
                <a href="#" align="right" class="btn btn-danger" data-href="/roles/delete/{{rol.id}}" data-toggle="modal" data-target="#confirm-delete">{% trans 'delete' %}</a>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          {% trans 'noRoles' %}
          {% endif %}
        </div>
      </br>
      <a align="center" class="btn btn-primary" href="/roles/manage?employee_id={{employee.id}}">{% trans 'addRole' %}</a>

      <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              {% trans 'delete' %}
            </div>
            <div class="modal-body">
              {% trans 'roleConfirm' %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'cancel' %}</button>
              <a class="btn btn-danger btn-ok">{% trans 'delete' %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}