{% extends "layout_base.html" %}
{% load i18n %}
{% load l10n %}
{% load static }
{% load custom_tags %}

{% block title %}{% trans 'editAdmin' %}{% endblock %}
{% block contentTitle %}{% trans 'editAdmin' %}{% endblock %}

{% block javascript %}
<script>
  $(function() {
    $(".btn-file span").text("{% trans 'browseFile' %}");

    $('#form_editar_admin').bootstrapValidator({
      feedbackIcons: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
      },
      fields: {
        first_name: {
          validators: {
            notEmpty: {
              message: "{% trans 'name_not_empty'%}"
            },
          },
        },
        last_name: {
          validators: {
            notEmpty: {
              message: "{% trans 'surname_not_empty'%}"
            },
          },
        },
        email: {
          validators: {
            notEmpty: {
              message: "{% trans 'email_not_empty' %}"
            },
            emailAddress: {
              message: "{% trans 'email_valid' %}"
            }
          }
        },
        phone: {
          validators: {
            notEmpty: {
              message: "{% trans 'phone_not_empty' %}"
            },
          }
        },
        identifier: {
          validators: {
            notEmpty: {
              message: "{% trans 'identifier_not_empty' %}"
            }
          }
        }
      }
    });

    $('#form_cambiar_pass').bootstrapValidator({
      feedbackIcons: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
      },
      fields: {
        newpass1: {
          validators: {
            notEmpty: {
              message: "{% trans 'password_not_empty' %}"
            }
          }
        },
        newpass2: {
          validators: {
            notEmpty: {
              message: "{% trans 'password_not_empty' %}"
            },
            callback: {
              message: "{% trans 'passwords_must_match'%}",
              callback: function(value, validator, $field) {
                return value == $("#id_newpass1").val()
              }
            }
          }
        },
      }
    });

    // Esto pa enviar el form de contraseñas con ajax
    $("#enviar_pass").click(function(e) {
      $.ajax({
        type: "POST",
        url: "/administrator/updatePassword",
        data: $("#form_cambiar_pass").serialize(),
        success: function(data) {
          var html = "";
          if(data.success) {
            html = '<div class="alert alert-success alert-dismissable"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>{% trans "success" %} &nbsp;</strong> {% trans "changepw_mail_subject" %}</div>';
          } else {
            var msg = "";
            switch(data.errors[0]){
              case "currentPasswordInvalid":
                msg = '{% trans "currentPasswordInvalid" %}';
                break;
              case "newPasswordInvalid":
                msg = '{% trans "newPasswordInvalid" %}';
                break;
              case "passwordsDontMatch":
                msg = '{% trans "passwordsDontMatch" %}';
                break;
              case "formNotValid":
                msg = '{% trans "formNotValid" %}';
            }

            html = '<div class="alert alert-danger alert-dismissable"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>{% trans "fail" %} &nbsp;</strong>' + msg + '</div>';
          }

          $("#res_passchange").hide().html(html).fadeIn();
        }
      });
    });
  });
</script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h1 align="center"> {% trans 'editAdmin' %} </h1></br>
        <div class="clearfix"></div>
      </div>

      <div class="x_content">
      {% if  errors %}
        <div id="errorDiv2" class="alert alert-error alert-dismissible" role="alert">
          <a class="close" data-dismiss="alert">x</a>
          {% for error in errors %}
              <p>
              {% trans error %}
              </p>
          {% endfor %}
        </div>
      {% endif %}

      <form id="form_editar_admin" method="POST"  class="form-horizontal" data-toggle="validator" role="form" action="" enctype="multipart/form-data">
        {% csrf_token %}

        {% show_field form.admin_email  "admin_metronus" %}
        {% show_field form.first_name   "John" %}
        {% show_field form.last_name    "Doe" %}
        {% show_field form.identifier   "admn_mtn" %}
        {% show_field form.phone        "666775899" %}
        {% show_field form.photo %}

        <div class="form-group control-buttons">
          <div class="text-center">
            <button type="submit" class="btn btn-success submit-button" >{% trans 'confirm' %}</button>
            <button type="button" class="btn btn-warning submit" onclick="window.location.href='/company/view/'">{% trans 'cancel' %}</button>
          </div>
        </div>
      </form>

      <hr>

      <h1 align="center"> {% trans 'editPasswordTitle' %} </h1>
      </br>

      <form id="form_cambiar_pass" method="POST"  class="form-horizontal" data-toggle="validator" role="form">
        {% csrf_token %}

        {% show_field pass_form.currentpass %}
        {% show_field pass_form.newpass1 %}
        {% show_field pass_form.newpass2 %}

        <div class="form-group">
          <div class="text-center">
            <button type="button" id="enviar_pass" class="btn btn-success" >{% trans 'confirm' %}</button>
          </div>
        </div>
      </form>

      <div id="res_passchange"></div>
    </div>
  </div>
</div>
</div>
{% endblock %}
