{% extends "anon_master.html" %}
{% load i18n %}
{% load l10n %}
{% load compress %}
{% load custom_tags %}

{% block title %}{% trans 'registerCompany' %}{% endblock %}
{% block content %}
<body>
  <!-- versión anterior: http://pastebin.com/cupm22xH -->
  <!-- page content -->
  <div class="container body">
  <div class="right_col" role="main">
      <div class="clearfix"></div>

 
{% if errors %}
    {% for err in errors%}

        <p class="alert alert-danger">{% trans err %}</p>
    {% endfor %}
{% endif %}

 
        <div class="col-md-12 col-sm-8 col-xs-8">
          <div class="x_panel">
              <!-- Smart Wizard -->
              <form id="register_form" method="POST" class="form-horizontal" data-toggle="validator" role="form" action="" enctype="multipart/form-data">
                {% csrf_token %}
              <div id="wizard" class="form_wizard wizard_horizontal">
                <ul class="wizard_steps">
                  <li>
                    <a href="#step-1">
                      <span class="step_no">1</span>
                      <span class="step_descr">
                          {% trans 'registerCompanyMenu' %}<br />
                          <small>{% trans 'registerCompanyMenuInfo' %}</small>
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="#step-2">
                      <span class="step_no">2</span>
                      <span class="step_descr">
                          {% trans 'registerCompanyAdmin' %}<br />
                          <small>{% trans 'registerCompanyAdminInfo' %}</small>
                      </span>
                    </a>
                  </li>
                </ul>
                <div id="step-1">
                  <div id="form-step-0" role="form" data-toggle="validator">

            <div class="form-group required company_class form-class" id="div_cif">
              <label class="control-label col-sm-3" for="id_{{ form.cif.name }}">{% trans 'cif' %}</label>
              <div class="col-sm-6">
                <input type="text" class="form-control col-md-6" name="{{ form.cif.name }}"  id="id_{{ form.cif.name }}" value="{{form.cif.value|default_if_none:""}}">
                <div class="help-block with-errors" id="id_unique_message" style="color:#a94442;">{{ form.cif.errors }}</div>
                <div class="help-block with-errors" id="id_unique_message_cif" style="display: none;">{% trans 'company_duplicate' %}</div>
              </div>
            </div>
 
        <div class="form-group required company_class form-class">
          <label class="control-label col-sm-3" for="id_{{ form.company_name.name }}">{% trans 'company_name' %}</label>
            <div class="col-sm-6">
              <input type="text" class="form-control col-md-6" name="{{ form.company_name.name }}" id="id_{{ form.company_name.label }}" value="{{form.company_name.value|default_if_none:""}}">
                <div class="help-block with-errors" id="id_unique_message" style="color:#a94442;" >{{ form.company_name.errors }}</div>

            </div>
        </div>
                   <div class="form-group required company_class form-class" id="div_short_name">
          <label class="control-label col-sm-3" for="id_{{ form.short_name.name }}">{% trans 'short_name'%}</label>
            <div class="col-sm-6">
              <input type="text" class="form-control col-md-6" name="{{ form.short_name.name }}" id="id_{{ form.short_name.name }}" value="{{form.short_name.value|default_if_none:""}}">
                <div class="help-block with-errors" id="id_unique_message" style="color:#a94442;">{{ form.short_name.errors }}</div>
                <div class="help-block with-errors" id="id_unique_message_short_name" style="display: none;">{% trans 'company_duplicate' %}</div>

            </div>
        </div>
 
        <div class="form-group required company_class form-class">
          <label class="control-label col-sm-3" for="id_{{ form.company_email.name }}">{% trans 'company_email' %}</label>
            <div class="col-sm-6">
              <input type="email" class="form-control col-md-6" name="{{ form.company_email.name }}" id="id_{{ form.company_email.label }}" value="{{form.company_email.value|default_if_none:""}}">
              <div class="help-block with-errors" id="id_unique_message" style="color:#a94442;">{{ form.company_email.errors }}</div>

            </div>
        </div>
 
        <div class="form-group required company_class form-class">
          <label class="control-label col-sm-3" for="id_{{ form.company_phone.name }}">{% trans 'company_phone' %}</label>
            <div class="col-sm-6">
            <input type="text" class="form-control col-md-6" name="{{ form.company_phone.name }}" id="id_{{ form.company_phone.label }}" value="{{form.company_phone.value|default_if_none:""}}">
            <div class="help-block with-errors" id="id_unique_message" style="color:#a94442;">{{ form.company_phone.errors }}</div>

            </div>
        </div>
 
        <div class="form-group">
          <label class="control-label col-sm-3" for="id_{{ form.logo.name }}">{% trans 'logo' %}</label>
            <div class="col-sm-6">
              <input id="id_{{ form.logo.label }}" name="{{ form.logo.name }}" multiple type="file" class="file file-loading" value="{{form.logo.value|default_if_none:""}}" data-show-preview="false" multiple data-show-upload="false" data-allowed-file-extensions='["jpeg", "jpg", "png"]' >
              <div class="help-block with-errors" id="id_unique_message" style="color:#a94442;">{{ form.logo.errors }}</div>

            </div>
        </div>
                  <div class="help-block with-errors"></div>
                  </div>
                </div>

                <div id="step-2">
                  <div id="form-step-0" role="form" data-toggle="validator">

                    <div class="form-group required form-class" id="div_admin">
                      <label class="control-label col-sm-3" for="id_{{ form.username.label }}">{% trans 'username' %}</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control col-md-6" name="{{ form.username.name }}" id="id_{{ form.username.name }}" value="{{form.username.value|default_if_none:""}}" >
                        <div class="help-block with-errors" id="id_unique_message" style="color:#a94442;">{{ form.username.errors }}</div>

                        <div class="help-block with-errors" id="id_admin_unique_message" style="display: none;">{% trans 'admin_duplicate' %}
                        </div>

                      </div>
                    </div>
             
                    <div class="form-group required form-class">
                      <label class="control-label col-sm-3" for="id_{{ form.admin_email.label }}">{% trans 'admin_email' %}</label>
                        <div class="col-sm-6">
                        <input type="email" class="form-control col-md-6" name="{{ form.admin_email.name }}" id="id_{{ form.admin_email.label }}" value="{{form.admin_email.value|default_if_none:""}}">
                        <div class="help-block with-errors" id="id_unique_message" style="color:#a94442;">{{ form.admin_email.errors }}</div>

                        </div>

                    </div>
             
                    <div class="form-group required form-class" id="div_pass_1">
                      <label class="control-label col-sm-3" for="id_{{ form.password.name }}">{% trans 'password' %}</label>
                        <div class="col-sm-6">
                        <input type="password" class="form-control col-md-6" name="{{ form.password.name }}" id="id_{{ form.password.label }}">
                        <div class="help-block with-errors" id="id_unique_message" style="color:#a94442;">{{ form.password.errors }}</div>

                        </div>
                    </div>
             
                    <div class="form-group required form-class" id="div_pass_2">
                      <label class="control-label col-sm-3" for="id_{{ form.repeatPassword.name }}">{% trans 'repeatPassword' %}</label>
                        <div class="col-sm-6">
                          <input type="password" class="form-control col-md-6" name="{{ form.repeatPassword.name }}" id="id_{{ form.repeatPassword.label }}">
                          <div class="help-block with-errors" id="id_unique_message" style="color:#a94442;">{{ form.repeatPassword.errors }}</div>

                        </div>

                    </div>
             
                    <div class="form-group required form-class">
                      <label class="control-label col-sm-3" for="id_{{ form.first_name.label }}">{% trans 'first_name' %}</label>
                        <div class="col-sm-6">
                          <input type="text" class="form-control col-md-6" name="{{ form.first_name.name }}" id="id_{{ form.first_name.name }}" value="{{form.first_name.value|default_if_none:""}}" >
                          <div class="help-block with-errors" id="id_unique_message" style="color:#a94442;">{{ form.first_name.errors }}</div>

                        </div>

                    </div>
             
                    <div class="form-group required form-class">
                      <label class="control-label col-sm-3" for="id_{{ form.last_name.label }}">{% trans 'last_name'%}</label>
                        <div class="col-sm-6">
                          <input type="text" class="form-control col-md-6" name="{{ form.last_name.name }}" id="id_{{ form.last_name.label }}" value="{{form.last_name.value|default_if_none:""}}">
                          <div class="help-block with-errors" id="id_unique_message" style="color:#a94442;">{{ form.last_name.errors }}</div>

                        </div>

                    </div>
             
                    <div class="form-group required form-class">
                      <label class="control-label col-sm-3" for="id_{{ form.admin_identifier.label }}">{% trans 'admin_identifier' %}</label>
                        <div class="col-sm-6">
                          <input type="text" class="form-control col-md-6" name="{{ form.admin_identifier.name }}" id="id_{{ form.admin_identifier.label }}" value="{{form.admin_identifier.value|default_if_none:""}}">
                          <div class="help-block with-errors" id="id_unique_message" style="color:#a94442;">{{ form.admin_identifier.errors }}</div>
                        </div>

                    </div>
             
                    <div class="form-group required form-class">
                      <label class="control-label col-sm-3" for="id_{{ form.admin_phone.label }}">{% trans 'admin_phone'%}</label>
                        <div class="col-sm-6">
                          <input type="text" class="form-control col-md-6" name="{{ form.admin_phone.name }}" id="id_{{ form.admin_phone.label }}" value="{{form.admin_phone.value|default_if_none:""}}">
                          <div class="help-block with-errors" id="id_unique_message" style="color:#a94442;">{{ form.admin_phone.errors }}</div>

                        </div>

                    </div>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
              </div>
               <div class="separator">
               <button type="button" class="btn btn-info submit" onclick="window.location.href='/'">{% trans 'return_to_landingpage' %}</button>
                </div>
            </form>
              <!-- End SmartWizard Content -->
          </div>
        </div>
      </div>
  </div>
</div>


<body>

  <!-- js -->
{% compress js %}
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/fastclick.js"></script>
<script src="/static/js/nprogress.js"></script>
<script src="/static/js/validator.js"></script>
<script src="/static/js/jquery.smartWizard.js"></script>
<script src="/static/js/custom.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrapvalidator.min.js"></script>  

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.8/js/fileinput.min.js"></script>
{% endcompress %}


<script type="text/javascript">
  $(document).ready(function(){
      $('#wizard').smartWizard();
      $(".buttonNext").text("{% trans 'next' %}");
      $(".buttonPrevious").text("{% trans 'previous' %}");
      $(".buttonFinish").text("{% trans 'finish' %}");
     

      document.getElementsByName("logo")[0].className = 'col-md-7 col-xs-12';
      
      var elements = document.getElementsByClassName('form-group');
      
      var i = 0;
      for (i = 0; i < elements.length; i++){

        if(elements[i].childNodes[1].getAttribute("for") != "id_logo")
          elements[i].childNodes[1].innerHTML += " *";

      }

      document.getElementsByClassName('btn-file')[0].childNodes[2].innerHTML = '{% trans 'browseFile' %}'


      //YIIIIIHA

        $('#register_form').bootstrapValidator({
          feedbackIcons: {
              valid: 'glyphicon glyphicon-ok',
              invalid: 'glyphicon glyphicon-remove',
              validating: 'glyphicon glyphicon-refresh'
            },
        fields: {
          cif: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'cif_error#1'%}'
                    },
                    regexp:{
                      regexp: /^[a-zA-Z]\d{8}$/ig,
                      message: '{% trans 'cif_error#2'%}'
                    },
                },
            },
            company_name: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'company_name_error' %}'
                    }
                }
            },
            company_email: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'company_email_error#1' %}'
                    },
                    emailAddress: {
                        message: '{% trans 'company_email_error#2' %}'
                    }
                }
            },
            short_name: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'company_short_name_error' %}'
                    }
                }
            },
            company_phone: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'company_phone_error#1' %}'
                    },
                     regexp:{
                      regexp: /^\d{9}$/ig,
                      message: '{% trans 'company_phone_error#2' %}'
                    },
                }
            },
            username: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'username_error' %}'
                    }
                }
            },
            admin_email: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'admin_email_error#1' %}'
                    },
                    emailAddress: {
                        message: '{% trans 'admin_email_error#2' %}'
                    }
                }
            },
            password: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'password_error' %}'
                    }
                }
            },
            repeatPassword: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'passwordRepeat_error' %}'
                    },
                    callback: {
                      message: "{% trans 'passwords_must_match'%}",
                      callback: function(value, validator, $field) {
                        return value == $("#id_{{ form.password.label }}").val()
                      }
                    }
                }
            },
            first_name: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'first_name_error' %}'
                    }
                }
            },
            last_name: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'last_name_error' %}'
                    }
                }
            },
            admin_identifier: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'admin_identifier_error' %}'
                    }
                }
            },
            admin_phone: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'admin_phone_error#1' %}'
                    },
                    regexp:{
                      regexp: /^\d{9}$/ig,
                      message: '{% trans 'admin_phone_error#2' %}'
                    },
                }
            }
        }
    })

  });
</script>

<script type="text/javascript">
  var cif = document.getElementById("id_cif")
  , div_cif = document.getElementById("div_cif")
  , unique_message = document.getElementById("id_unique_message_cif");
 
 
  var isUnique;
 
  function validateCIF(){
    $.ajax({
          url: '/ajax/validate_cif/',
          data: {
            'cif': cif.value
          },
          dataType: 'json',
          success: function (data) {
            isUnique = !data.is_taken;
              if(!isUnique || !checkCIF(cif.value)) {
                 
                div_cif.className = "form-group required company_class form-class has-feedback has-error";
                div_cif.childNodes[3].childNodes[1].className = "form-control col-md-6 glyphicon glyphicon-remove"

                unique_message.style.display = 'block';        
 
              } else {
                unique_message.style.display = 'none';
                div_cif.className = "form-group required company_class form-class has-feedback has-success";
                div_cif.childNodes[3].childNodes[1].className = "form-control col-md-6 glyphicon glyphicon-ok"

 
              }
                }

        });
    }
  cif.onchange = validateCIF;
</script>

<script type="text/javascript">
 
  var admin = document.getElementById("id_username")
  , div_admin = document.getElementById("div_admin")
  , admin_unique_message = document.getElementById("id_admin_unique_message");
 
 
  var isUnique;
 
  function validateAdmin(){
    $.ajax({
          url: '/ajax/validate_admin/',
          data: {
            'admin': admin.value
          },
          dataType: 'json',
          success: function (data) {
            isUnique = !data.is_taken;
              if(!isUnique || admin.value == "") {
 
                div_admin.className = "form-group required company_class form-class has-feedback has-error";
                div_admin.childNodes[3].childNodes[1].className = "form-control col-md-6 glyphicon glyphicon-remove"
                admin_unique_message.style.display = 'block';        
 
              } else {
                admin_unique_message.style.display = 'none';
                div_admin.className = "form-group required company_class form-class has-feedback has-success";
                div_admin.childNodes[3].childNodes[1].className = "form-control col-md-6 glyphicon glyphicon-ok"
 
              }
                }
        });
    }
  admin.onchange = validateAdmin;


  function checkCIF(cif){

    var patt = new RegExp(/^[a-zA-Z]\d{8}$/ig);
    var res = patt.test(cif);
    console.log(res);
    return res;

  }
</script>

<script type="text/javascript">
  var short_name = document.getElementById("id_short_name")
  , div_short_name = document.getElementById("div_short_name")
  , unique_message = document.getElementById("id_unique_message_short_name");
 
 console.log(short_name);
  var isUnique;
 
  function validateShortName(){
    $.ajax({
          url: '/ajax/validate_short_name/',
          data: {
            'short_name': short_name.value
          },
          dataType: 'json',
          success: function (data) {
            isUnique = !data.is_taken;
              if(!isUnique || short_name.value == "") {
                 
                div_short_name.className = "form-group required company_class form-class has-feedback has-error";
                div_short_name.childNodes[3].childNodes[1].className = "form-control col-md-6 glyphicon glyphicon-remove"

                unique_message.style.display = 'block';        
 
              } else {
                unique_message.style.display = 'none';
                div_short_name.className = "form-group required company_class form-class has-feedback has-success";
                div_short_name.childNodes[3].childNodes[1].className = "form-control col-md-6 glyphicon glyphicon-ok"

 
              }
                }

        });
    }
  short_name.onchange = validateShortName;
</script>

{% endblock %}
