{% extends "anon_master.html" %}
{% load i18n %}
{% load l10n %}
{% load compress %}
{% load custom_tags %}

{% block title %}{% trans 'registerCompany' %}{% endblock %}
{% block content %}
<body>
  <!-- versión anterior: http://pastebin.com/cupm22xH -->
  <!-- page content -->
  <div class="container body">
  <div class="right_col" role="main">
    <div class="">
      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
              <!-- Smart Wizard -->
              <form id="register_form" method="POST" class="form-horizontal" data-toggle="validator" role="form" action="" enctype="multipart/form-data">
                {% csrf_token %}
              <div id="wizard" class="form_wizard wizard_horizontal">
                <ul class="wizard_steps">
                  <li>
                    <a href="#step-1">
                      <span class="step_no">1</span>
                      <span class="step_descr">
                          {% trans 'registerCompanyMenu' %}<br />
                          <small>{% trans 'registerCompanyMenuInfo' %}</small>
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="#step-2">
                      <span class="step_no">2</span>
                      <span class="step_descr">
                          {% trans 'registerCompanyAdmin' %}<br />
                          <small>{% trans 'registerCompanyAdminInfo' %}</small>
                      </span>
                    </a>
                  </li>
                </ul>
                <div id="step-1">
                  <div id="form-step-0" role="form" data-toggle="validator">
                    {% show_field form.cif  %}
                    {% show_field form.company_name  %}
                    {% show_field form.short_name  %}
                    {% show_field form.company_email  %}
                    {% show_field form.company_phone  %}
                    {% show_field form.logo False %}
                  <div class="help-block with-errors"></div>
                  </div>
                </div>

                <div id="step-2">
                  <div id="form-step-0" role="form" data-toggle="validator">

                    {% show_field form.username %}
                    {% show_field form.admin_email %}
                    {% show_field form.password %}
                    {% show_field form.repeatPassword %}
                    {% show_field form.first_name %}
                    {% show_field form.last_name  %}
                    {% show_field form.admin_identifier  %}
                    {% show_field form.admin_phone  %}
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
              </div>
               <div class="separator">
               <button type="button" class="btn btn-info submit" onclick="window.location.href='/'">{% trans 'return_to_landingpage' %}</button>
                </div>
            </form>
              <!-- End SmartWizard Content -->
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

 
<body>

  <!-- js -->
{% compress js %}
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/fastclick.js"></script>
<script src="/static/js/nprogress.js"></script>
<script src="/static/js/validator.js"></script>
<script src="/static/js/jquery.smartWizard.js"></script>
<script src="/static/js/custom.min.js"></script>

 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/css/bootstrapvalidator.min.css"/>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>
{% endcompress %}

<script type="text/javascript">
  $(document).ready(function(){
      $('#wizard').smartWizard();
      $(".buttonNext").text("{% trans 'next' %}");
      $(".buttonPrevious").text("{% trans 'previous' %}");
      $(".buttonFinish").text("{% trans 'finish' %}");

      document.getElementsByName("logo")[0].className = 'col-md-7 col-xs-12';

      //YIIIIIHA

        $('#register_form').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
          cif: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'cif_error#1'%}'
                    },
                    regexp:{
                      regexp: /^[a-zA-Z]\d{8}$/ig,
                      message: '{% trans 'cif_error#2'%}'
                    },
                },
            },
            company_name: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'company_name_error' %}'
                    }
                }
            },
            company_email: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'company_email_error#1' %}'
                    },
                    emailAddress: {
                        message: '{% trans 'company_email_error#2' %}'
                    }
                }
            },
            short_name: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'company_short_name_error' %}'
                    }
                }
            },
            company_phone: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'company_phone_error#1' %}'
                    },
                     regexp:{
                      regexp: /^\d{9}$/ig,
                      message: '{% trans 'company_phone_error#2' %}'
                    },
                }
            },          
            username: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'username_error' %}'
                    }
                }
            },
            admin_email: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'admin_email_error#1' %}'
                    },
                    emailAddress: {
                        message: '{% trans 'admin_email_error#2' %}'
                    }
                }
            },
            password: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'password_error' %}'
                    }
                }
            },
            repeatPassword: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'passwordRepeat_error' %}'
                    }
                }
            },
            first_name: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'first_name_error' %}'
                    }
                }
            },
            last_name: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'last_name_error' %}'
                    }
                }
            },
            admin_identifier: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'admin_identifier_error' %}'
                    }
                }
            },
            admin_phone: {
                validators: {
                    notEmpty: {
                        message: '{% trans 'admin_phone_error#1' %}'
                    },
                    regexp:{
                      regexp: /^\d{9}$/ig,
                      message: '{% trans 'admin_phone_error#2' %}'
                    },
                }
            },
 
        },
    });




  });
</script>

{% endblock %}
