{% extends "layout_base.html" %}
{% load i18n %}
{% load l10n %}

{% block title %}
    {% if form.timeLog_id.value|slugify == '0' %}
        {% trans 'createTimeLog' %}
    {% else %}
        {% trans 'editTimeLog' %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if form.timeLog_id.value|slugify == '0' %}
        <h1> {% trans 'createTimeLog' %} </h1></br>
    {% else %}
        <h1> {% trans 'editTimeLog' %} </h1></br>
    {% endif %}

    <br>
    <div id="alert_placeholder"></div>
    <br>

    {% if form.errors %}
        {% for field in form.visible_fields %}{% if field.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <a class="close" data-dismiss="alert">x</a>
                <span><strong>{{ field.name }}</strong>: {% for error in  field.errors %}{{ error }}{% endfor %}</span>
            </div>
        {% endif %}{% endfor %}
        {% for error in  form.non_field_errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <a class="close" data-dismiss="alert">x</a>
                <span>{{ error|escape }}</span>
            </div>
        {% endfor %}
    {% endif %}

    <form id="form" method="POST" class="form-horizontal">{% csrf_token %}
        <div class="row">
            {% for field in form.visible_fields %}
                <div class="form-group">
                    <label class="control-label col-md-3 col-xs-12" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <div class="col-md-7 col-xs-12">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}

            {% for field in form.hidden_fields %}{{ field }}{% endfor %}


            <div class="row">
                <div class="form-actions col-xs-12 row-centered">
                    <input type="submit" class="btn btn-primary" value="{% trans 'confirm' %}" />
                    <a class="btn btn-danger" href="{% url 'timeLog_list_all' %}">{% trans 'cancel' %}</a>
                    {% if form.timeLog_id.value|slugify != '0' %}
                        <a class="btn btn-danger active" onclick="removealert('{% url 'timeLog_delete' form.timeLog_id.value %}');">
                            {% trans 'delete' %}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascript %}
<script>

function removealert(link){
    text = '{% trans 'timeLogConfirm' %} ';
    button = '<a href="'+link+'" class="alert-link">{% trans 'click' %}</a>';

    showalert(text+button,'alert-error');
}

/**
 * Validación en cliente
 * */
$(document).ready(function() {
    $('#form').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                validators: {
                    notEmpty: {
                        message: "{% trans 'projectNameNotNull' %}"
                    },
                }
            },


        },
    });
});
</script>
{% endblock %}
