{% extends "layout_base.html" %}

{% load i18n %}
{% load l10n %}
{% load custom_tags %}

{% block title %}{% trans 'timeLogList' %}{% endblock %}

{% block content %}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>{% trans 'timeLogList' %}</h3>
        </div>
    </div>

    <div class="clearfix"></div><br>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{% trans 'dashTimeControlList' %}</h2>
                    <div class="clearfix"></div>
                </div>

                 <div class="clearfix"></div>

                <div class="x_content">
                    <div class="text-center">
                        <ul class="pagination pagination-split">
                            <li><a href="#">{{ currentMonth|add:"-1" }}</a></li>
                            <li><a>{{ currentMonth }}</a></li>
                            <li><a href="#">{{ currentMonth|add:"1" }}</a></li>
                        </ul>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="thead-inverse">
                                <tr>
                                    <th>#</th>
                                    {% for day in month %}
                                        <th class="{% is_weekend day currentMonth currentYear %}">
                                            {{ day }}
                                        </th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for my_task in my_tasks %}
                                    <tr>
                                        <th scope="row">{{ my_task.name }}</th>

                                        {% for duration in my_task.durations %}
                                            <td class="{% is_weekend forloop.counter currentMonth currentYear %}">
                                                {% converto_to_hours duration %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                <tr class="success">
                                    <th scope="row">Total</th>
                                    {% for day in total %}
                                        <td>{{ day }}</td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div id="successDiv" class="alert alert-success" hidden='true'></div>
        <div id="errorDiv" class="alert alert-danger"  hidden='true'></div>

        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{% trans 'dashTimeControlCreate' %}</h2>
                    <div class="clearfix"></div>
                </div>

                 <div class="clearfix"></div>

                <div class="x_content">
                    <form id="form" class="form-horizontal form-label-left" novalidate method="POST">{% csrf_token %}
                        {% for field in form.visible_fields %}
                            <div class="{{ field.name }} form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.name.auto_id }}">
                                    {{ field.label }} *
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}

                        {% for field in form.hidden_fields %}{{ field }}{% endfor %}
                        <div class="ln_solid"></div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <a class="btn btn-danger" href="{% url 'project_list' %}">{% trans 'cancel' %}</a>
                                <button type="submit" class="btn btn-success">{% trans 'confirm' %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

    </div>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
        $("#id_project_id").change(function(){
            $.ajax({
                type: 'POST',
                data:  {keyname:$('#id_project_id option:selected').val()},

                success: function(resp){
                    for (var i=0; i < resp['departments'].length;++i){
                        addOption(document.getElementById("id_department_id"), resp['departments'][i], resp['departments'][i]);
                    }
                }
            });
        });
    });
</script>
{% endblock %}