{% extends "anon_master.html" %}
{% load i18n %}
{% load l10n %}


{% block title %}{% trans 'recover_password' %}{% endblock %}


{% block content %}

<body class="login">
  <div>
   

    <div class="login_wrapper">
      <div class="animate">
        <section class="login_content">
            <h3>{% trans 'recover_password' %}</h3>

             <div class="separator">
              <p>{% trans 'recover_password_info' %}
              </p>
            </div>
            <div>
              <a class="btn btn-warning" href="/login">{% trans 'return_to_landingpage' %}</a>
            </div>
        </section>


      </div>
    </div>
  </div>
</body>
{% endblock %}
