{% extends "anon_master.html" %}
{% load i18n %}
{% load l10n %}


{% block title %}{% trans 'recover_password' %}{% endblock %}


{% block content %}

<body class="login">
  <div>
   

    <div class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content">
            <h3>{% trans 'recover_password' %}</h3>
          <form id="recovery_form" method="POST" action="" accept-charset="utf-8">
            {% csrf_token %}
             <div class="separator">
              <p class="change_link">{% trans 'recover_password_instructions' %}
              </p>
            </div>
            <div>
              <input type="text" class="form-control" placeholder="{% trans 'email'%}" required="" name="email"  id="id_email"/>
            </div>
            
            <div>
              <button type="submit" class="btn btn-info submit">{% trans 'recover_password' %}</button>
            </div>

            <div>
              <button type="button" class="btn btn-warning submit" onclick="window.location.href='/login'">{% trans 'cancel' %}</button>
            </div>
          </form>
        </section>
        {% if form.errors %}
          <div class="clearfix"></div>

          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Error!</strong> {{ form.non_field_errors }}
          </div>

          {% if form.errors %}
           <p>{{ form.errors }}</p>
          {% endif %}
        {% endif %}
        {% if errors %}
            {{ errors }}
        {% endif %}
      </div>
    </div>
  </div>
</body>
{% endblock %}
