{% extends "anon_master.html" %}
{% load i18n %}
{% load l10n %}


{% block title %}{% trans 'recover_password' %}{% endblock %}


{% block content %}

<body class="login">
  <div>
   

    <div class="login_wrapper">
      <div class="animate">
        <section class="login_content">
            <h3>{% trans 'recover_password' %}</h3>
             <div class="separator">
              <p class="change_link">{% trans 'recover_password_complte' %}
              </p>
            </div>
        </section>
      </div>
    </div>
  </div>
</body>
{% endblock %}
